{% load staticfiles %}

<!DOCTYPE HTML>
<html lang="es">
<head>
<meta charset="utf-8">
<title>Pragma | BackLog</title>
<link rel="stylesheet" href= "{% static "apps/css/normalize.min.css" %}" />
<link rel="stylesheet" href= "{% static "apps/css/masterLayout.css" %}" />
<link rel="stylesheet" href= "{% static "apps/css/contentPages.css" %}" />
<link rel="stylesheet" href= "{% static "apps/css/custom-theme/jquery-ui-1.8.11.custom.css" %}" />
<link rel="stylesheet" href= "{% static "apps/css/widgets.css"%}" />
<link rel="stylesheet" href= "{% static "apps/css/menuHorizontal.css"%}" />
<link rel="stylesheet" href= "{% static "apps/css/custom.css" %}"/>

<script type="text/javascript" src= "{% static "apps/js/jquery-1.5.1.min.js" %}"></script>
<script type="text/javascript" src= "{% static "apps/js/jquery-ui-1.8.11.custom.min.js" %}"></script>
<script type="text/javascript" src= "{% static "apps/js/funciones.js" %}"></script>
<script type="text/javascript" src= "{% static "apps/js/jquery.chainedSelect.min.js" %}"></script>
<script type="text/javascript" src= "{% static "apps/js/jquery.validate.js" %}"></script>
<script type="text/javascript" src= "{% static "apps/js/mantenedor.js" %}"></script>

<!--[if lt IE 9]>
<script type="text/javascript">
   document.createElement("nav");
   document.createElement("header");
   document.createElement("footer");
   document.createElement("section");
   document.createElement("article");
   document.createElement("aside");
   document.createElement("hgroup");
</script>
<![endif]-->

<script type="text/javascript">
  $(function() {
    $('#negocio').chainedSelect({
      parent: '#cliente',
      url: "{% url 'apps.views.poblar_negocio' %}",
      value: 'pk',
      label: 'nombreNegocio'
    });
  });

  function verificarNV(){
    jQuery('#numeroNotaVenta').live("change",function(){
      $.ajax({
              type: "POST",
              url: "{% url 'apps.views.auth_validateNV' %}",
              data: {'numeroNotaVenta': $('#numeroNotaVenta').serialize(), 'csrfmiddlewaretoken': '{{csrf_token}}'},
              dataType: "json",
              success: function(response) {
              },
              error: function(rs, e) {
                  //alert(rs.responseText);
                  if (rs.responseText == 'no') {
                      document.getElementById("checknumeroNotaVenta").innerHTML = "Este numero de Nota de Venta es válido";
                      document.getElementById("checknumeroNotaVenta").style.display = 'block'
                      document.getElementById("checknumeroNotaVenta").style.color = 'green';

                  } else {
                      document.getElementById("checknumeroNotaVenta").innerHTML = "El numero de Nota de Venta ya existe";
                      document.getElementById("checknumeroNotaVenta").style.display = 'block'
                      document.getElementById("checknumeroNotaVenta").style.color = 'red';

                  }
              }
          });
          return false;
    });
  } 




</script>

</head>

<body>


<div class="wrapper">
  <header class="header">
    <div class="headerLeft"><img src="{% static "apps/img/logo.png" %}" height="50" /></div>
    <div class="headerRight"> 
      <table>
        <tr>
          <td>  Bienvenido(a): {{ user.get_full_name }}  </td>
        </tr>
        <tr>
          <td> <a style="color:white;" href="{% url 'apps.views.logout_then_login' %}"> Cerrar Sesi&oacute;n</a></td>
        </tr>
      </table>
    </div>
  </header>
  <nav class="nav">
  	<div class="menuHorizontal">
      <ul class="dropdown">
        <li><a href="{% url 'apps.views.index' %}">Home</a></li>
        <li><a href="{% url 'apps.views.clientepragma' %}">Cliente</a></li>
        <li><a href="{% url 'apps.views.notaVenta' %}" class="active">Nota de Venta</a></li>
        <li><a href="{% url 'apps.views.hitos' %}" >Hitos</a></li>
        <li><a href="{% url 'apps.views.balance' %}" >Balance</a></li>
        {% for group in user.groups.all %}
            {% if group.name == 'gerencia' and size_log %}
               <li><a href="{% url 'apps.views.notificaciones' %}">Notificaciones ( {{ size_log }} ) </a></li>
               <li><a href="{% url 'apps.views.logHitos' %}">Log </a></li>               
            {% endif %}
        {% endfor %} 
      </ul>
      </div>
  </nav>
<!--   <section class="navigator">
      <div class="seeder">Usted esta en: Nota de Venta</div>
      <div class="info">Ayuda</div>
  </section> -->
  <section class="content">
      <div class="module">

      <div class="accionesTabla" id = "accionesTabla"><a href="/agregarNV" >+ Agregar Nota Venta</a></div>

      <div id = "agregarNV" >
      <h3>Agregar Nota Venta</h3>
      <form id = "NotaVentaForm" name="NotaVentaForm" action="/ingresar_NV" method="post" onsubmit="validar()">
        {% csrf_token %}
        <table class="tablaFiltros"> 
          <tbody>       
            <tr>
              <td> Cliente  
              <select name="cliente" id="cliente">
              {% for c in clientes %}
                <option value = {{ c.id }} > {{ c.nombreFantasia }} </option>
              {% endfor %}
              </td>
              <td>Nombre Negocio          
              <select name="negocio" id="negocio">
              </select></td>
              <td>Numero Nota de Venta
              <input class ="numeroNotaVenta" type="text" name="numeroNotaVenta" id="numeroNotaVenta" onChange = "verificarNV()" >
              <div style="display:none;" id="checknumeroNotaVenta">Numero no disponible</div></td>    
            </tr>  
        </table>
        <h3> Fecha Nota Venta </h3>
        <table class ="tablaFiltros">  
          <tr>        
            <td>Fecha Nota de Venta
            <input name="fechaNotaVenta" type="text" class="fecha" id="fechaNotaVenta" size="10" readonly /></td>
          </tr>
        </table> 
        <h3> Moneda </h3>  
        <table class = "tablaFiltros">  
          <tr> 
            <td>Monto UF</td>
            <td><input type="text" name="montoUF" id="montoUF" ></td>            
            <td>Tipo Cambio UF</td>
            <td><input type="text" name="tipoCambioUF" id="tipoCambioUF" ></td>
          </tr> 
          <tr>
            <td>Divisa</td>
            <td><select name="divisa" id="divisa">
              <option value="1">Euro</option>
              <option value="2">Pesos Colombianos</option>
              <option value="3">Dolar USA</option>       
            </select></td>            
            <td>Tipo Cambio Divisa</td>
            <td><input type="text" name="tipoCambioDivisa" id="tipoCambioDivisa" ></td>     
          </tr>
            <tr>
            <td>Moneda Original</td>
            <td><input type="text" name="monedaOriginal" id="monedaOriginal" ></td>  
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>     
        </table> 
        <h3> Servicio </h3>
        <table class = "tablaFiltros">   
          <tr>              
            <td>Nombre Servicio
            <input type="text" name="nombreServicio" id="nombreServicio" ></td>        
            <td>Tipo de Servicio 
            <select name="tipoServicio" id="tipoServicio">
              </select>             
            <td>Sub Tipo de Servicio
            <select name="subTipoServicio" id="subTipoServicio">
              </select></td>
          </tr>
            <script language="javascript">
              poblarTipo("tipoServicio", "subTipoServicio");
            </script>          
            <tr>
        </table>
        <h3> Características Generales </h3>
        <table id = "tabla_agregarNV" class = "tablaFiltros">   
            <td>Responsable Delivery</td>
            <td><input type="text" name="responsableDelivery" id="responsableDelivery"></td>              
            <td>Correo Responsable Delivery</td>
            <td><input type="text" name="correoRespDelivery" id="correoRespDelivery"></td>
          </tr>
            <tr>
            <td>Margen Ganancia</td>
            <td><input type="text" name="margenNegocioUF" id="margenNegocioUF" ></td>    
            <td>Porcentaje de Ganancia</td>
            <td><input type="text" name="margenNegocioPercent" id="margenNegocioPercent" > % </td>
          </tr>
            <tr>
            <td>Glosa</td>
            <td><textarea name="glosa" id="glosa" class="caja400"></textarea></td>                 
            <td>Instancia de Facturacion</td>
            <td><textarea name="instFacturacion" id="instFacturacion" class="caja400"></textarea></td> 
          </tr> 
            <tr>
            <td>Ejecutivo Comercial</td>
            <td><select name="ejecutivoComercial" id="ejecutivoComercial">
              {% for ejecutivo in ejecutivos %}
                <option value = {{ ejecutivo.id }} > {{ ejecutivo.nombres}} {{ ejecutivo.apellidos }} </option>
              {% endfor %}               
            </select></td>                
            <td> Porcentaje de Participación </td>
            <td><input type="text" name="porcentaje" id="porcentaje"> % </inpuut>
            <button type= "button" class="button btnOk" id="boton_ejec" onClick="agregar_fila()">Agregar otro ejecutivo</button></td>
            </tr>
            </tbody>                                      
            <tfoot>
          </tfoot>
          </table>        
        <div class="botonera" id="botoneraHito" name="botoneraHito">
          <input type="button" value="Atras" onClick="history.go(-1);return true;" class="button btnCancelar" style="float: right;">           
          <input type="submit" value = "Guardar" class="button btnOk" style="float: right;">
          <!-- onClick="jQuery('#dialogoOkNotaVenta').dialog('open')"  -->
        </div>          
        </form>
      </div> 
      </div>  
  </section>
  <footer class="footer">&copy; Todos los Derechos Reservados Pragma Informática S.A. - 2014</footer>
</div>


<div id="dialogoEliminarOk" title="Eliminar Datos">
  <table class="tablaDialogo">
  <tr>
    <td><img src= "{% static "apps/img/icoBorrarOk.png" %}" width="48" height="48" /></td>
    <td>Los datos han sido eliminados exitosamente</td>
    </tr>
</table>
</div>


<div id="dialogoOkNotaVenta" title="Datos Guardados">
  <table class="tablaDialogo">
  <tr>
    <td><img src= "{% static "apps/img/icoOk.png" %}" width="48" height="48" /></td>
    <td>Los datos han sido guardados exitosamente.</td>
    </tr>
</table>
</div>

<script type="text/javascript">
  function agregar_fila(){
    var tableRef = document.getElementById('tabla_agregarNV').getElementsByTagName('tbody')[0];
    // Insert a row in the table at the last row
    var newRow   = tableRef.insertRow(tableRef.rows.length);
    // Insert a cell in the row at index 0
    var newCell  = newRow.insertCell(0);
    var newCell2 = newRow.insertCell(1);
    var newCell3 = newRow.insertCell(2);
    var newCell4 = newRow.insertCell(3);
    // Append a text node to the cell
    var newText  = document.createTextNode('Ejecutivo Comercial')
    var element2 = document.createElement("select");
    var option1 = document.createElement("option");
    option1.innerHTML = "felipe nicolas miranda vera";
    option1.value = "1";
    element2.add(option1, null);
    var option2 = document.createElement("option");
    option2.innerHTML = "maria ignacia arancibia alvarez";
    option2.value = "2";
    element2.add(option2, null);
    var option3 = document.createElement("option");
    option3.innerHTML = "jorge fernando soto perez";
    option3.value = "3";
    element2.add(option3, null);   

    var newText2  = document.createTextNode('Porcentaje de Participación')
    var inputEjec = document.createElement('input');
    inputEjec.type = "text";


    newCell.appendChild(newText);
    newCell2.appendChild(element2);
    newCell3.appendChild(newText2);
    newCell4.appendChild(inputEjec);
  }

</script>


<script type="text/javascript">
$(document).ready(function(){
// $(document).on('submit','NotaVentaForm', function(){  
  // function validar(){  
  $("#NotaVentaForm").validate({
    rules: {
      cliente: {
        required: true
      },
      negocio: {
        required: true
      },
      numeroNotaVenta:{
        required: true
      },
      fechaNotaVenta:{
        required: true
      },
      montoUF:{
        required: true,
        digits: true               
      },
      tipoCambioUF:{
        required: true,
        digits: true                       
      },
      divisa:{
        required: true
      },
      tipoCambioDivisa:{
        required: true,
        digits: true                       
      },
      monedaOriginal:{
        required: true
      },
      nombreServicio:{
        required: true
      },
      tipoServicio:{
        required: true        
      },
      subTipoServicio:{
        required:true
      },
      responsableDelivery:{
        required: true        
      },
      correoRespDelivery:{
        required: true,
        email: true
      },
      margenNegocioUF:{
        required: true,
        digits: true        
      },
      margenNegocioPercent:{
        required: true,
        digits: true       
      },
      instFacturacion:{
        required: true        
      },
      ejecutivoComercial:{
        required: true        
      },
      porcentaje:{
        required: true,
        digits: true       
      }
    }
  });
});
</script>


</body>
</html>
