{% load staticfiles %}

<!DOCTYPE HTML>
<html lang="es">
<head>
<meta charset="utf-8">
<title>Pragma | BackLog</title>
<link rel="stylesheet" href= "{% static "apps/css/normalize.min.css" %}" />
<link rel="stylesheet" href= "{% static "apps/css/masterLayout.css" %}" />
<link rel="stylesheet" href= "{% static "apps/css/contentPages.css" %}" />
<link rel="stylesheet" href= "{% static "apps/css/custom-theme/jquery-ui-1.8.11.custom.css" %}" />
<link rel="stylesheet" href= "{% static "apps/css/widgets.css"%}" />
<link rel="stylesheet" href= "{% static "apps/css/menuHorizontal.css"%}" />
<link rel="stylesheet" href= "{% static "apps/css/custom.css" %}"/>

<script type="text/javascript" src= "{% static "apps/js/jquery-1.5.1.min.js" %}"></script>
<script type="text/javascript" src= "{% static "apps/js/jquery-ui-1.8.11.custom.min.js" %}"></script>
<script type="text/javascript" src= "{% static "apps/js/funciones.js" %}"></script>
<script type="text/javascript" src= "{% static "apps/js/jquery.validate.js" %}"></script>
<script type="text/javascript" src= "{% static "apps/js/mantenedor.js" %}"></script>

<!--[if lt IE 9]>
<script type="text/javascript">
   document.createElement("nav");
   document.createElement("header");
   document.createElement("footer");
   document.createElement("section");
   document.createElement("article");
   document.createElement("aside");
   document.createElement("hgroup");
</script>
<![endif]-->

<script type="text/javascript">
  $(function() {
    $('#negocio').chainedSelect({
      parent: '#cliente',
      url: "{% url 'apps.views.poblar_negocio' %}",
      value: 'pk',
      label: 'nombreNegocio'
    });
  });
</script>

<script type="text/javascript">
  $(function() {
    $('#notaVenta').chainedSelect({
      parent: '#negocio',
      url: "{% url 'apps.views.poblar_NV' %}",
      value: 'pk',
      label: 'numeroNotaVenta'
    });
  });


  function verificarMontoNV(){
    jQuery('#montoUF').live("change",function(){
      $.ajax({
              type: "POST",
              url: "{% url 'apps.views.verificarMontoPorNV' %}",
              data: {'notaVenta': $('#notaVenta').serialize(), 'montoUF': $('#montoUF').serialize(),'csrfmiddlewaretoken': '{{csrf_token}}'},
              dataType: "json",
              success: function(response) {
              },
              error: function(rs, e) {
                  //alert(rs.responseText);
                  if (rs.responseText == 'si') {
                      document.getElementById("checkMonto").innerHTML = "El monto ingresado es compatible con la Nota de Venta";
                      document.getElementById("checkMonto").style.display = 'block'
                      document.getElementById("checkMonto").style.color = 'green';

                  } else {
                      document.getElementById("checkMonto").innerHTML = "El monto ingresado supera el total por Nota de Venta";
                      document.getElementById("checkMonto").style.display = 'block'
                      document.getElementById("checkMonto").style.color = 'red';

                  }
              }
          });
          return false;
    });
  }

</script>



</head>

<body>

<div class="wrapper">
  <header class="header">
    <div class="headerLeft"><img src="{% static "apps/img/logo.png" %}" height="50" /></div>
    <div class="headerRight"> 
      <table>
        <tr>
          <td>  Bienvenido(a): {{ user.get_full_name }}  </td>
        </tr>
        <tr>
          <td> <a style="color:white;" href="{% url 'apps.views.logout_then_login' %}"> Cerrar Sesi&oacute;n</a></td>
        </tr>
      </table>
    </div> 
  </header>
  <nav class="nav">
    <div class="menuHorizontal">
      <ul class="dropdown">
        <li><a href="{% url 'apps.views.index' %}">Home</a></li>
        <li><a href="{% url 'apps.views.clientepragma' %}">Cliente</a></li>
        <li><a href="{% url 'apps.views.notaVenta' %}" >Nota de Venta</a></li>
        <li><a href="{% url 'apps.views.hitos' %}" class="active" >Hitos</a></li>
        <li><a href="{% url 'apps.views.balance' %}" >Balance</a></li>
        {% for group in user.groups.all %}
            {% if group.name == 'gerencia' and size_log %}
               <li><a href="{% url 'apps.views.notificaciones' %}">Notificaciones ( {{ size_log }} ) </a></li>
               <li><a href="{% url 'apps.views.logHitos' %}">Log </a></li>
            {% endif %}
        {% endfor %} 
      </ul>
      </div>
  </nav>
<!--   <section class="navigator">
      <div class="seeder">Usted esta en: Hitos</div>
      <div class="info">Ayuda</div>
  </section> -->
  <section class="content">
      <div class="module">
      <!-- <h1>Hitos</h1> -->
      <!-- " jQuery('#dialogoAgregarHito').dialog('open')" -->
      <!-- onClick= "agregar_hito('agregarHito')" -->
      <div class="accionesTabla"><a href="#" >+ Agregar Hito</a></div>

<!-- id="dialogoAgregarHito" -->
<div id = "exitoNV" >   
  {% if exito_NV %}
      <h1 style="color:green; width:100%"> {{ exito_NV }} </h1>
  {% else %}   
      <h1 style="color:red; width:100%"> {{ error_NV }} </h1> 
  {% endif %}    
</div> 
<div id="agregarHito" title="Agregar Hito" >
  <form  name = "FormHito" id = "FormHito" action= "/ingresar_hito" method = "post">
    {% csrf_token %}
    <h3>Caracteristicas Generales</h3>
    <table class="tablaFiltros">
          <tr>
             <td>
                Cliente 
                  <select name="cliente" id="cliente">
                    <option value="" selected="selected">--Elija Cliente--</option>
                    {% for c in clientes %}
                      <option value = {{ c.id }} > {{ c.nombreFantasia }} </option>        
                    {% endfor %}
                  </select></td>
              <td>Negocio 
                <select name="negocio" id="negocio">
                  <option value="" selected="selected">--Elija Negocio--</option>                
                </select></td>
              <td>Nota Venta 
                <select name="notaVenta" id="notaVenta">
                  <option value="" selected="selected">--Elija NV--</option>                  
                </select></td>                  
          </tr>
          <tr>
            <td>Fecha</td>
            <td><input name="fecha" type="text" class="fecha" id="fecha" size="10" readonly /></td>
            <td>&nbsp;</td>
            </tr>        
          <tfoot>
          </tfoot>
        </table>
    <h3>Moneda</h3>
        <table class="tablaFiltros">
          <tr>
            <td>Monto UF</td>
            <td><input name="montoUF" type="text" id="montoUF" onChange = "verificarMontoNV()">
              <div style="display:none;" id="checkMonto">Monto</div></td>    
          </tr>
          <tfoot>
          </tfoot>
        </table>
    <h3>Descripción hito</h3>
        <table class="tablaFiltros">
          <tr>
            <td>Estado</td>
            <td><select name="estado" id="estado">
            </select></td>
            <script language="javascript">
              poblarEstado();
            </script>  
          </tr>
          <tr>
            <td>Comentarios</td>
            <td><textarea name="comentarios" id="comentarios" class="caja400"></textarea></td>
          </tr>
          <tr>
            <td>Descripción</td>
            <td><textarea name="descripcion" id="descripcion" class="caja400"></textarea></td>     
          </tr>
          <tfoot>
          </tfoot>
        </table>
        <div class="botonera" id="botoneraHito" name="botoneraHito">
          <input type="button" value="Atras" onClick="history.go(-1);return true;" class="button btnCancelar" style="float: right;">           
          <input type="submit" value = "Guardar" class="button btnOk" onClick="jQuery('#dialogoOk').dialog('open')" style="float: right;">
        </div>

    </form>    
</div>
      </div>  
  </section>
  <footer class="footer">&copy; Todos los Derechos Reservados Pragma Informática S.A. - 2014</footer>
</div>

<div id="dialogoEliminar" title="Eliminar Datos">
  <table class="tablaDialogo">
  <tr>
    <td><img src= "{% static "apps/img/icoBorrar.png" %}" width="48" height="48" /></td>
    <td>Está seguro que desea eliminar el hito <span class="txtBold destacado">N°<span class="txtCenter"> 45789</span></span></td>
    </tr>
</table>
</div>


<div id="dialogoOkHito" title="Datos Guardados">
  <table class="tablaDialogo">
  <tr>
    <td><img src= "{% static "apps/img/icoOk.png" %}" width="48" height="48" /></td>
    <td>Los datos han sido guardados exitosamente.</td>
    </tr>
</table>
</div>

<script type="text/javascript">

setTimeout(function() {document.getElementById('exitoNV').style.display='none';},8000);

$(document).ready(function(){
  $("#FormHito").validate({
    rules: {
      cliente: {
        required: true
      },
      negocio: {
        required: true
      },
      notaVenta:{
        required: true
      },
      fecha:{
        required: true
      },
      montoUF:{
        required: true,
        digits: true        
      },
      estado:{
        required: true
      }
    }
  });
});
</script>
</body>
</html>
