{% load staticfiles %}

<!DOCTYPE HTML>
<html lang="es">
<head>
<meta charset="utf-8">
<title>Pragma | BackLog</title>
<link rel="stylesheet" href= "{% static "apps/css/normalize.min.css" %}" />
<link rel="stylesheet" href= "{% static "apps/css/masterLayout.css" %}" />
<link rel="stylesheet" href= "{% static "apps/css/contentPages.css" %}" />
<link rel="stylesheet" href= "{% static "apps/css/custom-theme/jquery-ui-1.8.11.custom.css" %}" />
<link rel="stylesheet" href= "{% static "apps/css/widgets.css"%}" />
<link rel="stylesheet" href= "{% static "apps/css/menuHorizontal.css"%}" />
<link rel="stylesheet" href= "{% static "apps/css/custom.css" %}"/>

<script type="text/javascript" src= "{% static "apps/js/jquery-1.5.1.min.js" %}"></script>
<script type="text/javascript" src= "{% static "apps/js/jquery-ui-1.8.11.custom.min.js" %}"></script>
<script type="text/javascript" src= "{% static "apps/js/funciones.js" %}"></script>
<script type="text/javascript" src= "{% static "apps/js/localidad.js" %}"></script>

<!--[if lt IE 9]>
<script type="text/javascript">
   document.createElement("nav");
   document.createElement("header");
   document.createElement("footer");
   document.createElement("section");
   document.createElement("article");
   document.createElement("aside");
   document.createElement("hgroup");
</script>
<![endif]-->
<script type="text/javascript">
  $(function() {
    $('#negocio').chainedSelect({
      parent: '#cliente',
      url: "{% url 'apps.views.poblar_negocio' %}",
      value: 'pk',
      label: 'nombreNegocio'
    });
  });
</script>

<script type="text/javascript">
  $(function() {
    $('#notaVenta').chainedSelect({
      parent: '#negocio',
      url: "{% url 'apps.views.poblar_NV' %}",
      value: 'pk',
      label: 'numeroNotaVenta'
    });
  });
</script>

<script type="text/javascript">
  $(function() {
    $('#negocio_NV').chainedSelect({
      parent: '#cliente_NV',
      url: "{% url 'apps.views.poblar_negocio' %}",
      value: 'pk',
      label: 'nombreNegocio'
    });
  });
</script>

<script type="text/javascript">
  $(function() {
    $('#notaVenta_NV').chainedSelect({
      parent: '#negocio_NV',
      url: "{% url 'apps.views.poblar_NV' %}",
      value: 'pk',
      label: 'numeroNotaVenta'
    });
  });
</script>
</head>

<body>
<div class="wrapper">
  <header class="header">
    <div class="headerLeft"><img src="{% static "apps/img/logo.png" %}" height="50" /></div>
    <div class="headerRight"> 
      <table>
        <tr>
          <td>  Bienvenido(a): {{ user.get_full_name }}  </td>
        </tr>
        <tr>
          <td> <a style="color:white;" href="{% url 'apps.views.logout_then_login' %}"> Cerrar Sesi&oacute;n</a></td>
        </tr>
      </table>
    </div> 
  </header>
  <nav class="nav">
    <div class="menuHorizontal">
      <ul class="dropdown">
        <li><a href="{% url 'apps.views.index' %}">Home</a></li>
        <li><a href="{% url 'apps.views.clientepragma' %}">Cliente</a></li>
        <li><a href="{% url 'apps.views.notaVenta' %}" >Nota de Venta</a></li>
        <li><a href="{% url 'apps.views.hitos' %}">Hitos</a></li>
        <li><a href="{% url 'apps.views.balance' %}" class="active">Balance</a></li>
        {% for group in user.groups.all %}
            {% if group.name == 'gerencia' and size_log %}
               <li><a href="{% url 'apps.views.notificaciones' %}">Notificaciones ( {{ size_log }} ) </a></li>
               <li><a href="{% url 'apps.views.logHitos' %}">Log</a></li>               
            {% endif %}
        {% endfor %}         
      </ul>
      </div>
  </nav>
<!--   <section class="navigator">
      <div class="seeder">Usted esta en: Balance</div>
      <div class="info">Ayuda</div>
  </section> -->

  <section class="content">
    <div class="module">  
    <h1> Seleccione un filtro para hacer el balance: </h1>
     <table class="tablaFiltros">
          <tr> 
          <td>
          <label for="grupo">Seleccione: </label>
                  <select name="criterio" id="criterio" onChange = "mostrarBusqueda()">
                    <option value="" selected="selected"> Filtro</option>                
                    <option value="1" > Fecha </option>                
                    <option value="2" > Cliente </option>                
                    <option value="3" > Negocio </option>                
                    <option value="4" > Nota de Venta </option>                             
                  </select>
          </td>
          </tr>
    </table>      
      <div id = "DivFecha" name = "DivFecha" style="display:none">
        <form id = "buscarBalanceFecha" name = "buscarBalanceFecha" action = "/buscar_balance_fecha" method = "post">
          {% csrf_token %}
         <h1> Busqueda por Fecha</h1>          
          <table class="tablaFiltros">
              <tr>
                <td>Fecha desde
                  <select name="fechaMesDesde" id="fechaMesDesde">
                  <option value="" selected="selected">--Elija Mes--</option>                
                  <option value="01" > Enero </option>                
                  <option value="02" > Febrero </option>                
                  <option value="03" > Marzo </option>                
                  <option value="04" > Abril </option>                
                  <option value="05" > Mayo </option>                
                  <option value="06" > Junio </option>                
                  <option value="07" > Julio </option>                
                  <option value="08" > Agosto </option>                
                  <option value="09" > Septiembre </option>                
                  <option value="10" > Octubre </option>                
                  <option value="11" > Noviembre </option>                
                  <option value="12" > Diciembre </option>                
                </select></td>
                <td>Fecha hasta
                  <select name="fechaMesHasta" id="fechaMesHasta">
                  <option value="" selected="selected">--Elija Mes--</option>                
                  <option value="01" > Enero </option>                
                  <option value="02" > Febrero </option>                
                  <option value="03" > Marzo </option>                
                  <option value="04" > Abril </option>                
                  <option value="05" > Mayo </option>                
                  <option value="06" > Junio </option>                
                  <option value="07" > Julio </option>                
                  <option value="08" > Agosto </option>                
                  <option value="09" > Septiembre </option>                
                  <option value="10" > Octubre </option>                
                  <option value="11" > Noviembre </option>                
                  <option value="12" > Diciembre </option>                
                </select></td>                  
                <td>Año 
                    <select name="rangoAnnio" id="rangoAnnio">
                    <option value="" selected="selected">--Elija Año--</option>                    
                    <option value="2014">2014</option>
                    <option value="2013">2013</option>
                    <option value="2012">2012</option>
                    <option value="2011">2011</option>
                    <option value="2010">2010</option>
                    <option value="2009">2009</option>
                    <option value="2008">2008</option>
                    <option value="2007">2007</option>
                    <option value="2006">2006</option>
                    <option value="2005">2005</option>
                    <option value="2004">2004</option>
                    </select></td>                               
                <td rowspan="3" align="center"><button  type="submit" class="button btnBuscar">Buscar</button></td>
              </tr>
              <tr>
              <td> Búsqueda por mes específico </td>                
              <td>
                  <select name="fechaMes" id="fechaMes">
                  <option value="" selected="selected">--Elija Mes--</option>                
                  <option value="01" > Enero </option>                
                  <option value="02" > Febrero </option>                
                  <option value="03" > Marzo </option>                
                  <option value="04" > Abril </option>                
                  <option value="05" > Mayo </option>                
                  <option value="06" > Junio </option>                
                  <option value="07" > Julio </option>                
                  <option value="08" > Agosto </option>                
                  <option value="09" > Septiembre </option>                
                  <option value="10" > Octubre </option>                
                  <option value="11" > Noviembre </option>                
                  <option value="12" > Diciembre </option>                
                  </select></td>  
                  <td>&nbsp;</td>
              </tr>
              <tr>
              <td> Búsqueda por año específico </td>                
              <td>
                    <select name="fechaAnnio" id="fechaAnnio">
                    <option value="" selected="selected">--Elija Año--</option>                    
                    <option value="2014">2014</option>
                    <option value="2013">2013</option>
                    <option value="2012">2012</option>
                    <option value="2011">2011</option>
                    <option value="2010">2010</option>
                    <option value="2009">2009</option>
                    <option value="2008">2008</option>
                    <option value="2007">2007</option>
                    <option value="2006">2006</option>
                    <option value="2005">2005</option>
                    <option value="2004">2004</option>
                    </select></td>   
                    <td>&nbsp;</td>
              </tr>
            </table> 
          </form>  
          </div>

          <div id = "DivCliente" name= "DivCliente" style="display:none">
          <form id = "buscarBalanceCliente" name = "buscarBalanceCliente" action = "/buscar_balance_cliente" method = "post">
          {% csrf_token %}            
            <h1> Busqueda por Cliente</h1>
            <table class="tablaFiltros">
                <tr>
                  <td width="33%">Cliente</td>
                  <td width="33%">
                  <select name="cliente_id" id="cliente_id">
                    {% for cliente in clientes %}
                      <option value = {{ cliente.id }} > {{ cliente.razonSocial }} </option>
                    {% endfor %}
                  </select></td>  
                  <td width="34%" align="center"><button type="submit" class="button btnBuscar">Buscar</button></td>
                </tr>    
              </table>  
          </form>                                 
          </div>  

          <div id = "DivNegocio" name="DivNegocio" style="display:none">
          <form id = "buscarBalanceCliente" name = "buscarBalanceCliente" action = "/buscar_balance_negocio" method = "post">
            {% csrf_token %}            
            <h1> Busqueda por Negocio </h1>
            <table class="tablaFiltros">            
              <tr>
                 <td width="33%"> 
                  Cliente 
                  <select name="cliente" id="cliente">
                    <option value="" selected="selected">--Elija Cliente--</option>
                    {% for c in clientes %}
                      <option value = {{ c.id }} > {{ c.nombreFantasia }} </option>        
                    {% endfor %}
                  </select></td>
              <td width="33%">Negocio 
                <select name="negocio" id="negocio">
                  <option value="" selected="selected">--Elija Negocio--</option>                
                </select></td> 
                <td  width="34%" align="center"><button type="submit" class="button btnBuscar">Buscar</button></td>
              </tr>    
            </table> 
          </form>                               
          </div>  

          <div id="DivNV" name="DivNV" style="display:none">
          <form id = "buscarBalanceNV" name = "buscarBalanceNV" action = "/buscar_balance_NV" method = "post">   {% csrf_token %}         
          <h1> Busqueda por Nota de Venta </h1>
          <table class="tablaFiltros">
              <tr>
               <td width="25%">
                Cliente 
                  <select name="cliente_NV" id="cliente_NV">
                    <option value="" selected="selected">--Elija Cliente--</option>
                    {% for c in clientes %}
                      <option value = {{ c.id }} > {{ c.nombreFantasia }} </option>        
                    {% endfor %}
                  </select></td>
                <td width="25%">Negocio 
                <select name="negocio_NV" id="negocio_NV">
                  <option value="" selected="selected">--Elija Negocio--</option>                
                </select></td>
                <td width="25%">Nota Venta 
                <select name="notaVenta_NV" id="notaVenta_NV">
                  <option value="" selected="selected">--Elija NV--</option>                  
                </select></td> 
                <td width="25%" align="center"><button type="submit" class="button btnBuscar">Buscar</button></td>
              </tr>    
            </table>
          </form>  
          </div>                                

        <div id = "mensajes" >
           {% if error %}
              <h1 style="color:red; width:100%"> {{ error }} </h1> 
          {% endif %}
        </div>          

      <div id = "res_lista" >
      {% if lista_balance %}
      <h1> Balance </h1>
      <div style="max-height: 199px; overflow: auto; float: left; width: 1211px;">
      <table class="tablaDatos">
          <thead>
            <tr>
              <th>Fecha</th>
              <th>Cliente</th>
              <th>Negocio</th>
              <th>Nota de Venta</th>
              <th>Hito</th>
              <th>Estado</th>
              <th>Descripción</th>
              <th>UF</th>
            </tr>
        </thead>   
          {% for l in lista_balance %}
          {% ifequal l.1 " " %}
          <tr class = "totalmes">
            <th colspan="7" class="txtRight">Total: </th>
            <th class="txtCenter">{{ l.3 }}</th>
          </tr>       
          {% else %}
          <tr>          
            <td class="txtCenter" value = {{forloop.counter}} > {{ l.1|date:"d/m/Y" }} </td>
            <td class="txtCenter" value = {{forloop.counter}} > {{ l.7 }} </td>
            <td class="txtCenter" value = {{forloop.counter}} > {{ l.6 }} </td>
            <td class="txtCenter" value = {{forloop.counter}} > {{ l.5 }} </td>
            <td class="txtCenter" value = {{forloop.counter}} > {{ l.0 }} </td>
            {% ifequal l.2 "1" %}
                <td width="20%" class="txtCenter" value = {{forloop.counter}} > Tentativo </td>
              {% else %}  
                {% ifequal l.2 "2" %}
                  <td width="20%" class="txtCenter" value = {{forloop.counter}} > Comprometido </td>
                {% else %}
                  {% ifequal l.2 "3" %}
                    <td width="20%" class="txtCenter" value = {{forloop.counter}} >  En riesgo OC </td>
                  {% else %}
                    {% ifequal l.2 "4" %}
                     <td width="20%" class="txtCenter" value = {{forloop.counter}} >  En riesgo </td>
                    {% else %}
                        <td width="20%" class="txtCenter" value = {{forloop.counter}} >  Facturada </td>
                      {% endifequal %}
                  {% endifequal %}  
                {% endifequal %}  
              {% endifequal %}  
            <td class="txtCenter" value = {{forloop.counter}} > {{ l.4 }} </td>
            <td class="txtCenter" value = {{forloop.counter}} > {{ l.3 }} </td>
          </tr>
          {% endifequal %}
          {% endfor %}
        </table>
      </div>
      {% endif %}      
        </div>  

      <div id = "res_lista_mes">
      {% if lista_balance_mes %}        
      <h1> Balance </h1>      
      <div style="max-height: 199px; overflow: auto; float: left; width: 1211px;">
        <table class="tablaDatos">
            <thead>
            <tr>
              <th>Fecha</th>
              <th>Cliente</th>
              <th>Negocio</th>
              <th>Nota de Venta</th>
              <th>Hito</th>
              <th>Estado</th>
              <th>UF</th>
              </tr>
          </thead>
        {% for h in lista_balance_mes %}     
                <tr>
                  <td class="txtCenter">{{ h.1|date:"d/m/Y" }}</td>
                  <td class="txtCenter">{{ h.7 }}</td>
                  <td class="txtCenter">{{ h.6 }}</td>
                  <td class="txtCenter">{{ h.5 }}</td>
                  <td class="txtCenter">{{ h.0 }}</td>
                  <!-- Estado -->
                  <!-- <td class="txtCenter">{{ h.2 }}</td> -->
                  {% ifequal h.2 "1" %}
                    <td width="20%" class="txtCenter" value = {{forloop.counter}} > Tentativo </td>
                  {% else %}  
                    {% ifequal h.2 "2" %}
                      <td width="20%" class="txtCenter" value = {{forloop.counter}} > Comprometido </td>
                    {% else %}
                      {% ifequal h.2 "3" %}
                        <td width="20%" class="txtCenter" value = {{forloop.counter}} >  En riesgo OC </td>
                      {% else %}
                        {% ifequal h.2 "4" %}
                         <td width="20%" class="txtCenter" value = {{forloop.counter}} >  En riesgo </td>
                        {% else %}
                            <td width="20%" class="txtCenter" value = {{forloop.counter}} >  Facturada </td>
                          {% endifequal %}
                      {% endifequal %}  
                    {% endifequal %}  
                  {% endifequal %}                    
                  <!-- <td class="txtCenter">{{ h.4 }}</td> -->
                  <td class="txtCenter">{{ h.3 }}</td>
                </tr>
        {% endfor %}     
            <tfoot>
              <tr>
                <th colspan="6" class="txtRight">Total: </th>
                <th class="txtCenter">{{ monto_acumulado }}</th>
              </tr>
          </tfoot>
          </table>
        </div>  
        {% endif %}          
         </div> 

      <div id = "res_lista_cliente">
      {% if hitos %}        
      <h1> Balance </h1>
      <div style="max-height: 199px; overflow: auto; float: left; width: 1211px;">      
        <table class="tablaDatos">
            <thead>
            <tr>
              <th>Fecha</th>
              <th>Cliente</th>
              <th>Negocio</th>
              <th>Nota de Venta</th>
              <th>Hito</th>
              <th>Estado</th>
              <!-- <th>Compromiso</th> -->
              <th>UF</th>
              </tr>
          </thead>
        {% for h in hitos %}     
                <tr>
                  <td class="txtCenter">{{ h.1|date:"d/m/Y" }}</td>
                  <td class="txtCenter">{{ h.7 }}</td>
                  <td class="txtCenter">{{ h.6 }}</td>
                  <td class="txtCenter">{{ h.5 }}</td>
                  <td class="txtCenter">{{ h.0 }}</td>
                  {% ifequal h.2 "1" %}
                    <td width="20%" class="txtCenter" value = {{forloop.counter}} > Tentativo </td>
                  {% else %}  
                    {% ifequal h.2 "2" %}
                      <td width="20%" class="txtCenter" value = {{forloop.counter}} > Comprometido </td>
                    {% else %}
                      {% ifequal h.2 "3" %}
                        <td width="20%" class="txtCenter" value = {{forloop.counter}} >  En riesgo OC </td>
                      {% else %}
                        {% ifequal h.2 "4" %}
                         <td width="20%" class="txtCenter" value = {{forloop.counter}} >  En riesgo </td>
                        {% else %}
                            <td width="20%" class="txtCenter" value = {{forloop.counter}} >  Facturada </td>
                          {% endifequal %}
                      {% endifequal %}  
                    {% endifequal %}  
                  {% endifequal %}  
                  <td class="txtCenter">{{ h.3 }}</td>
                </tr>
        {% endfor %}     
            <tfoot>
              <tr>
                <th colspan="6" class="txtRight">Total: </th>
                <th class="txtCenter">{{ monto_acumulado }}</th>
              </tr>
          </tfoot>
          </table>
         </div> 
        {% endif %}

         </div> 

      </div>
  </section>
  <footer class="footer">&copy; Todos los Derechos Reservados Pragma Informática S.A. - 2014</footer>
</div>

<script type="text/javascript">

  setTimeout(function() {document.getElementById('mensajes').style.display='none';},8000);

  function mostrarBusqueda(){
    var select = document.getElementById("criterio");
    var criterio = select.options[select.selectedIndex].value;
    var divFecha = document.getElementById("DivFecha");
    var divEs_lista_mes = document.getElementById("res_lista_mes");
    var divEs_lista = document.getElementById("res_lista"); 
    var divEs_lista_cliente = document.getElementById("res_lista_cliente"); 
    divFecha.style.display = 'none';
    var divCliente = document.getElementById("DivCliente");
    divCliente.style.display = 'none';
    var divNegocio = document.getElementById("DivNegocio");
    divNegocio.style.display = 'none';
    var divNV = document.getElementById("DivNV");
    divNV.style.display = 'none';
      if(criterio == 1){
        divFecha.style.display = 'block';
        divEs_lista.style.display = 'none';
        divEs_lista_mes.style.display = "none";
        divEs_lista_cliente.style.display = "none";
      }else if(criterio == 2){
        divCliente.style.display = 'block';
        divEs_lista.style.display = 'none';
        divEs_lista_mes.style.display = "none";        
        divEs_lista_cliente.style.display = "none";        
      }else if(criterio == 3){
        divNegocio.style.display = 'block';
        divEs_lista.style.display = 'none';
        divEs_lista_mes.style.display = "none";        
        divEs_lista_cliente.style.display = "none";        
      }else if(criterio == 4){
        divNV.style.display = 'block';
        divEs_lista.style.display = 'none';
        divEs_lista_mes.style.display = "none";        
        divEs_lista_cliente.style.display = "none";        
      }  
  }

  function setDefault(){
    document.getElementById("criterio").selectedIndex = 0;
    return true;
  }
</script>

<script type="text/javascript">
   function mostrarFormulario(id) {
       var divBalanceAnual = document.getElementById('balanceAnual');
       var divBalanceMensual = document.getElementById('balanceMensual');    
       if(id == 'balanceAnual'){
          divBalanceAnual.style.display = 'block';
          divBalanceMensual.style.display = 'none';
       }else if(id == 'balanceMensual'){
          divBalanceAnual.style.display = 'none';
          divBalanceMensual.style.display = 'block';
       }
   }
</script>


</body>
</html>



