{% load staticfiles %}

<!DOCTYPE HTML>
<html lang="es">
<head>
<meta charset="utf-8">
<title>Pragma | BackLog</title>
<link rel="stylesheet" href= "{% static "apps/css/normalize.min.css" %}" />
<link rel="stylesheet" href= "{% static "apps/css/masterLayout.css" %}" />
<link rel="stylesheet" href= "{% static "apps/css/contentPages.css" %}" />
<link rel="stylesheet" href= "{% static "apps/css/custom-theme/jquery-ui-1.8.11.custom.css" %}" />
<link rel="stylesheet" href= "{% static "apps/css/widgets.css"%}" />
<link rel="stylesheet" href= "{% static "apps/css/menuHorizontal.css"%}" />
<link rel="stylesheet" href= "{% static "apps/css/custom.css" %}"/>

<script type="text/javascript" src= "{% static "apps/js/jquery-1.5.1.min.js" %}"></script>
<script type="text/javascript" src= "{% static "apps/js/jquery-ui-1.8.11.custom.min.js" %}"></script>
<script type="text/javascript" src= "{% static "apps/js/funciones.js" %}"></script>
<script type="text/javascript" src= "{% static "apps/js/localidad.js" %}"></script>
<script type="text/javascript" src= "{% static "apps/js/jquery.validate.js" %}"></script>
<!-- <script type="text/javascript" src= "{% static "apps/js/mantenedor.js" %}"></script> -->

<!--[if lt IE 9]>
<script type="text/javascript">
   document.createElement("nav");
   document.createElement("header");
   document.createElement("footer");
   document.createElement("section");
   document.createElement("article");
   document.createElement("aside");
   document.createElement("hgroup");
</script>
<![endif]-->
<script type="text/javascript">

  $(document).ready(function(){
    $(".eliminarCli").click(function(){
      var $clienteId = $(this).data('id');
      document.getElementById("eliminarCliente").value= $clienteId;
      $('#clienteAEliminar').html($clienteId);
      $('#dialogoEliminarCli').dialog('open');
    });

  });
</script>

<script type="text/javascript">

  $(document).ready(function(){
    $(".eliminarNeg").click(function(){
      var $negocioId = $(this).data('id');
      document.getElementById("eliminarNegocio").value= $negocioId;
      $('#negocio_id').html($negocioId);
      $('#dialogoEliminarNeg').dialog('open');
    });

  });
</script>

<script type="text/javascript">

  $(document).ready(function(){
    $(".editarCli").click(function(){
    var $idComparacion = $(this).data('id');
    document.getElementById("rutEditar").value= $idComparacion;
    document.getElementById("cliente_rut").value= $idComparacion;
      $.ajax({
              type: "POST",
              url: "{% url 'apps.views.enviar_rut' %}",
              data: {'idComparacion': $idComparacion , 'csrfmiddlewaretoken': '{{csrf_token}}'},        
              daType: "json",
              success: function(datajson) {
                document.getElementById("razonSocialEditar").value=datajson[0].fields.razonSocial;
                document.getElementById("nombreFantasiaEditar").value=datajson[0].fields.nombreFantasia;
                document.getElementById("giroEditar").value=datajson[0].fields.giro;
                document.getElementById("grupoEconomicoEditar").value=datajson[0].fields.grupoEconomico;
                document.getElementById("sectorEditar").value=datajson[0].fields.sector;
                document.getElementById("idCuentaZohoEditar").value=datajson[0].fields.idCuentaZoho;
                document.getElementById("telefonoEditar").value=datajson[0].fields.telefono;
                document.getElementById("faxEditar").value=datajson[0].fields.fax;
                document.getElementById("direccionEditar").value=datajson[0].fields.direccion;
                document.getElementById("regionEditar").value=datajson[0].fields.region;
                document.getElementById("comunaEditar").value=datajson[0].fields.comuna;
              },             
              error: function(rs, e) {
                alert("mal");
              }      
          });
      $('#dialogoEditarCliente').dialog('open');
    });
  });
</script>

<script type="text/javascript">

  $(document).ready(function(){
    $(".editarNeg").click(function(){
    var $idComparacion = $(this).data('id');
    document.getElementById("negocio_id_editar").value= $idComparacion;
      $.ajax({
              type: "POST",
              url: "{% url 'apps.views.enviar_negocio' %}",
              data: {'idComparacion': $idComparacion , 'csrfmiddlewaretoken': '{{csrf_token}}'},        
              daType: "json",
              success: function(datajson) {
                document.getElementById("idOportunidadZohoEditar").value=datajson[0].fields.idOportunidadZoho;
                document.getElementById("nombreNegocioEditar").value=datajson[0].fields.nombreNegocio;
                document.getElementById("descripcionEditar").value=datajson[0].fields.descripcion;
                document.getElementById("fechaNegocioEditar").value=datajson[0].fields.fechaNegocio;
                document.getElementById("idejecutivoComercialEditar").value=datajson[0].fields.idejecutivoComercial;
              },             
              error: function(rs, e) {
                alert("mal");
              }      
          });
      $('#dialogoEditarNegocio').dialog('open');
    });
  });
</script>


</head>

<body>
<div class="wrapper">
  <header class="header">
    <div class="headerLeft"><img src="{% static "apps/img/logo.png" %}" height="50" /></div>
    <div class="headerRight"> 
      <table>
        <tr>
          <td>  Bienvenido(a): {{ user.get_full_name }}  </td>
        </tr>
        <tr>
          <td> <a style="color:white;" href="{% url 'apps.views.logout_then_login' %}"> Cerrar Sesi&oacute;n</a></td>
        </tr>
      </table>
    </div>
  </header>
  <nav class="nav">
    <div class="menuHorizontal">
      <ul class="dropdown">
        <li><a href="{% url 'apps.views.index' %}">Home</a></li>
        <li><a href="{% url 'apps.views.clientepragma' %}" class="active" >Cliente</a></li>
        <li><a href="{% url 'apps.views.notaVenta' %}" >Nota de Venta</a></li>
        <li><a href="{% url 'apps.views.hitos' %}">Hitos</a></li>
        <li><a href="{% url 'apps.views.balance' %}">Balance</a></li>
        {% for group in user.groups.all %}
            {% if group.name == 'gerencia' and size_log %}
               <li><a href="{% url 'apps.views.notificaciones' %}">Notificaciones ( {{ size_log }} ) </a></li>
               <li><a href="{% url 'apps.views.logHitos' %}">Log </a></li>               
            {% endif %}
        {% endfor %}         
      </ul>
      </div>
  </nav>
<!--   <section class="navigator">
      <div class="seeder">Usted esta en: Cliente</div>
      <div class="info">Ayuda</div>
  </section> -->
  <section class="content">
      <div class="module">
      <h1>Opciones</h1>
      <table class="tablaFiltros">
          {% csrf_token %}
          <tr>
          <td>
          <!--<input id="submit" type="button" value="Click" data_url/> --> 
          <label for="grupo"></label>
          <button class="button" name = "agregar_cliente" onClick="mostrarFormulario('datosCliente')" >Agregar Cliente</button> &nbsp;
          <button class="button" name  = "agregar_negocio" onClick="mostrarFormulario('datosNegocio')">Agregar Negocio</button>
          &nbsp;
          <button class="button" name  = "mostrar_cli_neg" onClick="mostrarFormulario('mostrarDatos')">Ultimos Ingresados</button>
          &nbsp;
          <button class="button" name  = "buscar_cliente" onClick="mostrarFormulario('buscarCliente')">Buscar Cliente</button>
          &nbsp;
          <button class="button" name  = "buscar_negocio" onClick="mostrarFormulario('buscarNegocio')">Buscar Negocio</button>          
          </td>
        </tr>
        </table>

        <div id = "busquedaNegocio" style="display:none;">
        <form class="form-horizontal" id = "buscarNegocio" name = "buscarNegocio" action = "/buscar_negocio" method="post">
          {% csrf_token %}
          <table class="tablaFiltros">
              <tr>
              <td>Negocio
                <input name="negocio_a_buscar" type="text" id="negocio_a_buscar" size="10"/>
                <button type="submit" class="button btnBuscar">Buscar</button></td>
            </tr>
            </table>
          </form>  
        </div> 

        <div id = "busquedaCliente" style="display:none;">
        <form class="form-horizontal" id = "buscarCliente" name = "buscarCliente" action = "/buscar_cliente" method="post">
          {% csrf_token %}
          <table class="tablaFiltros">
              <tr>
              <td>Cliente
                <input name="cliente_a_buscar" type="text" id="cliente_a_buscar" size="10"/>
                <button type="submit" class="button btnBuscar">Buscar</button></td>
            </tr>
            </table>
          </form>  
        </div> 

        <div id = "mensajes" >
           {% if exito %}
              <h1 style="color:green; width:100%"> {{ exito }} </h1>
           {% else %} 
              <h1 style="color:red; width:100%"> {{ error }} </h1> 
          {% endif %}
        </div>

      <div id="negocioABuscar"> 
      {% if negocios_a_buscar %}  
      <h1>Resultado de Búsqueda</h1>
      <table class="tablaDatos">
          <thead>
          <tr>
              <th>Nombre Cliente</th>
              <th>Id Negocio Zoho</th>
              <th>Nombre Negocio</th>
              <th>Descripcion</th>
              <th>Fecha Negocio</th>
              <th>Ejecutivo Comercial</th>
              <th class="icoAcciones">&nbsp;</th>       
            </tr>
        </thead>   
          {% for negocio in negocios_a_buscar%}
          <tr>  
            {% for c in clientes %}
              {% ifequal negocio.cliente_id_id|stringformat:"s" c.id|stringformat:"s" %}
                <td class="txtCenter" value = {{forloop.counter}} > {{ c.nombreFantasia }} </td>
              {% endifequal %}
            {% endfor %}                  
            <td class="txtCenter" value = {{forloop.counter}} > {{ negocio.idOportunidadZoho }} </td>
            <td class="txtCenter" value = {{forloop.counter}} > {{ negocio.nombreNegocio }} </td>
            <td class="txtCenter" value = {{forloop.counter}} > {{ negocio.descripcion }} </td>
            <td class="txtCenter" value = {{forloop.counter}} > {{ negocio.fechaNegocio|date:"d/m/Y" }} </td>
            {% for ejecutivo in ejecutivos %}
              {% ifequal negocio.idejecutivoComercial|stringformat:"s" ejecutivo.id|stringformat:"s" %}
                <td class="txtCenter" value = {{forloop.counter}} > {{ ejecutivo.nombres }} {{ ejecutivo.apellidos}}</td>
              {% endifequal %}
            {% endfor %}
            <td align="center">
              <button class="button btnModificar editarNeg" data-id="{{ negocio.id }}" >Editar</button>              
              <button class="button btnEliminar eliminarNeg" data-id="{{ negocio.id }}">Eliminar</button>
            </td>
          </tr>
          {% endfor %}      
          <tfoot>
        </tfoot>
        </table>
      {% endif %}  
      </div>


      <div id = "clienteABuscar">
      {% if clientes_a_buscar %} 
      <h1>Resultado Búsqueda</h1>
      <div id = "buscarCli" style="max-height: 221px; overflow: auto; float: left; width: 1211px;">
      <table class="tablaDatos">
          <thead>
          <tr>
              <th>Rut</th>
              <th>Razon Social</th>
              <th>Nombre de Fantasia</th>
              <th>Grupo Economico</th>
              <th>Giro</th>
              <th>Telefono</th>
              <th>Fax</th>
              <th>Region</th>
              <th>Comuna</th>
              <th>Id Cuenta Zoho</th>
              <th class="icoAcciones">&nbsp;</th>       
            </tr>
        </thead>   
          {% for cliente in clientes_a_buscar %}
          <tr>          
            <td class="txtCenter" value = {{forloop.counter}} > {{ cliente.rut }} </td>
            <td class="txtCenter" value = {{forloop.counter}} > {{ cliente.razonSocial }} </td>
            <td class="txtCenter" value = {{forloop.counter}} > {{ cliente.nombreFantasia }} </td>
            <td class="txtCenter" value = {{forloop.counter}} > {{ cliente.grupoEconomico }} </td>
            <td class="txtCenter" value = {{forloop.counter}} > {{ cliente.giro }} </td>
            <td class="txtCenter" value = {{forloop.counter}} > {{ cliente.telefono }} </td>
            <td class="txtCenter" value = {{forloop.counter}} > {{ cliente.fax }} </td>
            <td class="txtCenter" value = {{forloop.counter}} > {{ cliente.region }} </td>
            <td class="txtCenter" value = {{forloop.counter}} > {{ cliente.comuna }} </td>
            <td class="txtCenter" value = {{forloop.counter}} > {{ cliente.idCuentaZoho }} </td>
            <td align="center">
              <button class="button btnModificar editarCli" data-id="{{ cliente.rut }}" >Editar</button>
              <button class="button btnEliminar eliminarCli" data-id="{{ cliente.rut }}">Eliminar</button>
            </td>
          </tr>
          {% endfor %} 
          <tfoot>
        </tfoot>
        </table>
      </div>
        {% endif%}
      </div>

      <div id="clientesIngresados" style="display:none;"> 
      {% if ult_clientes  %}
      <h1>Últimos Clientes Ingresados</h1>
      <table class="tablaDatos">
          <thead>
          <tr>
              <th>Rut</th>
              <th>Razon Social</th>
              <th>Nombre de Fantasia</th>
              <th>Grupo Economico</th>
              <th>Giro</th>
              <th>Telefono</th>
              <th>Fax</th>
              <th>Region</th>
              <th>Comuna</th>
              <th>Id Cuenta Zoho</th>
              <th class="icoAcciones">&nbsp;</th>       
            </tr>
        </thead>   
        {% if ult_clientes|length > 1 %}
          {% for cliente in ult_clientes %}
          <tr>          
            <td class="txtCenter" value = {{forloop.counter}} > {{ cliente.rut }} </td>
            <td class="txtCenter" value = {{forloop.counter}} > {{ cliente.razonSocial }} </td>
            <td class="txtCenter" value = {{forloop.counter}} > {{ cliente.nombreFantasia }} </td>
            <td class="txtCenter" value = {{forloop.counter}} > {{ cliente.grupoEconomico }} </td>
            <td class="txtCenter" value = {{forloop.counter}} > {{ cliente.giro }} </td>
            <td class="txtCenter" value = {{forloop.counter}} > {{ cliente.telefono }} </td>
            <td class="txtCenter" value = {{forloop.counter}} > {{ cliente.fax }} </td>
            <td class="txtCenter" value = {{forloop.counter}} > {{ cliente.region }} </td>
            <td class="txtCenter" value = {{forloop.counter}} > {{ cliente.comuna }} </td>
            <td class="txtCenter" value = {{forloop.counter}} > {{ cliente.idCuentaZoho }} </td>
            <td align="center">
              <button class="button btnModificar editarCli" data-id="{{ cliente.rut }}" >Editar</button>
              <button class="button btnEliminar eliminarCli" data-id="{{ cliente.rut }}">Eliminar</button>
            </td>
          </tr>
          {% endfor %} 
        {% else %}
          <tr>          
            <td class="txtCenter" value = {{forloop.counter}} > {{ ult_clientes.0.rut }} </td>
            <td class="txtCenter" value = {{forloop.counter}} > {{ ult_clientes.0.razonSocial }} </td>
            <td class="txtCenter" value = {{forloop.counter}} > {{ ult_clientes.0.nombreFantasia }} </td>
            <td class="txtCenter" value = {{forloop.counter}} > {{ ult_clientes.0.grupoEconomico }} </td>
            <td class="txtCenter" value = {{forloop.counter}} > {{ ult_clientes.0.giro }} </td>
            <td class="txtCenter" value = {{forloop.counter}} > {{ ult_clientes.0.telefono }} </td>
            <td class="txtCenter" value = {{forloop.counter}} > {{ ult_clientes.0.fax }} </td>
            <td class="txtCenter" value = {{forloop.counter}} > {{ ult_clientes.0.region }} </td>
            <td class="txtCenter" value = {{forloop.counter}} > {{ ult_clientes.0.comuna }} </td>
            <td class="txtCenter" value = {{forloop.counter}} > {{ ult_clientes.0.idCuentaZoho }} </td>
            <td align="center">
              <button class="button btnModificar editarCli" data-id="{{ ult_cliente.0.rut }}" >Editar</button>              
              <button class="button btnEliminar eliminarCli" data-id="{{ ult_cliente.0.rut }}">Eliminar</button>
            </td>
          </tr>           
        {% endif%}
          <tfoot>
        </tfoot>
        </table>
        {% endif%}
      </div>
      <div id="negociosIngresados" style="display:none;" > 
      {% if ult_negocios %}  
      <h1>Últimos Negocios Ingresados</h1>
      <table class="tablaDatos">
          <thead>
          <tr>
              <th>Nombre Cliente</th>
              <th>Id Negocio Zoho</th>
              <th>Nombre Negocio</th>
              <th>Descripcion</th>
              <th>Fecha Negocio</th>
              <th>Ejecutivo Comercial</th>
              <th class="icoAcciones">&nbsp;</th>       
            </tr>
        </thead>   
        {% if ult_negocios|length > 1 %}
          {% for negocio in ult_negocios %}
          <tr>  
            {% for c in clientes %}
              {% ifequal negocio.cliente_id_id|stringformat:"s" c.id|stringformat:"s" %}
                <td class="txtCenter" value = {{forloop.counter}} > {{ c.nombreFantasia }} </td>
              {% endifequal %}
            {% endfor %}                  
            <td class="txtCenter" value = {{forloop.counter}} > {{ negocio.idOportunidadZoho }} </td>
            <td class="txtCenter" value = {{forloop.counter}} > {{ negocio.nombreNegocio }} </td>
            <td class="txtCenter" value = {{forloop.counter}} > {{ negocio.descripcion }} </td>
            <td class="txtCenter" value = {{forloop.counter}} > {{ negocio.fechaNegocio|date:"d/m/Y" }} </td>
            {% for ejecutivo in ejecutivos %}
              {% ifequal negocio.idejecutivoComercial|stringformat:"s" ejecutivo.id|stringformat:"s" %}
                <td class="txtCenter" value = {{forloop.counter}} > {{ ejecutivo.nombres }} {{ ejecutivo.apellidos}}</td>
              {% endifequal %}
            {% endfor %}
            <td align="center">
              <button class="button btnModificar editarNeg" data-id="{{ negocio.id }}" >Editar</button>              
              <button class="button btnEliminar eliminarNeg" data-id="{{ negocio.id }}">Eliminar</button>
            </td>
          </tr>
          {% endfor %}
      {% else %}
          <tr>   
            {% for c in clientes %}
              {% ifequal ult_negocios.0.cliente_id_id|stringformat:"s" c.id|stringformat:"s" %}
                <td class="txtCenter" value = {{forloop.counter}} > {{ c.nombreFantasia }} </td>
              {% endifequal %}
            {% endfor %}                 
            <td class="txtCenter" value = {{forloop.counter}} > {{ ult_negocios.0.idOportunidadZoho }} </td>
            <td class="txtCenter" value = {{forloop.counter}} > {{ ult_negocios.0.nombreNegocio }} </td>
            <td class="txtCenter" value = {{forloop.counter}} > {{ ult_negocios.0.descripcion }} </td>
            <td class="txtCenter" value = {{forloop.counter}} > {{ ult_negocios.0.fechaNegocio|date:"d/m/Y" }} </td>
            <td class="txtCenter" value = {{forloop.counter}} > {{ ult_negocios.0.idejecutivoComercial }} </td>
              <td align="center">
              <button class="button btnModificar editarNeg" data-id="{{ ult_negocios.0.id }}" >Editar</button>        
              <button class="button btnEliminar eliminarNeg" data-id="{{ ult_negocios.0.id }}">Eliminar</button>
            </td>
          </tr>   
      {% endif%}        
          <tfoot>
        </tfoot>
        </table>
      {% endif %}  
      </div>
      <div id="dialogoEliminarCli" title="Eliminar Datos">
        <form name = "FormEliminarCliente" action = "/eliminar_cliente/" method="post">
          {% csrf_token %}  
          <table class="tablaDialogo">
            <tr>
              <td><img src= "{% static "apps/img/icoBorrar.png" %}" width="48" height="48" /></td>
              <input type="hidden" id="eliminarCliente" name="eliminarCliente"></input>
              <td>Está seguro que desea eliminar el cliente <span class="txtBold destacado">N°<span class="txtCenter"><span id = "clienteAEliminar" ></span></div></span></span></td>
            </tr>
          </table>        
            <div class="botonera" id="botoneraEliminarCliente" name="botoneraCliente">
              <!-- onClick="jQuery('#dialogoEliminarOk').dialog('open')" -->
              <input type="button" value="Cancelar" onClick="cerrarDialogo('dialogoEliminarCli');" class="button btnCancelar" style="float: right;">         
              <input type="submit" value = "Aceptar" class="button btnOk" style="float: right;">

            </div>
        </form>     
      </div>

<div id="dialogoEditarCliente" title="Editar Cliente">  
  <form name= "editarCliente" action="/editar_cliente" method = "post">
  <table class="tablaFiltros">
        {% csrf_token %}
        <tr>
          <td>Rut</td>
          <td><input disabled name="rutEditar" type="text" id="rutEditar" ></td><input type="hidden" name = "cliente_rut" id="cliente_rut">
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>            
        <tr>
          <td>Razón Social</td>
          <td><input name="razonSocialEditar" type="text" id="razonSocialEditar"/></td>
          <td>Nombre de Fantasía </td>
          <td><input name="nombreFantasiaEditar" type="text" id="nombreFantasiaEditar"/></td>
        </tr>
            <tr>
            <td>Giro</td>
            <td><input type="text" name="giroEditar" id="giroEditar" class="caja100"></td>
            <td>Grupo Económico</td>
            <td><select name="grupoEconomicoEditar" id="grupoEconomicoEditar">
              <option value="" selected="selected">-- Grupo Economico--</option>                 
              <option value="1">Grupo Económico Uno</option>
              <option value="2">Grupo Económico Dos</option>
            </select></td>
          </tr>
            <tr>
            <td>Sector</td>
            <td><select name="sectorEditar" id="sectorEditar">
              <option value="" selected="selected">-- Sector--</option>
              <option value="1">Sector Economico Uno</option>
              <option value="2">Sector Economico Dos</option>
            </select></td>
            <td>Id Cuenta Zoho </td>
            <td><input type="text" name="idCuentaZohoEditar" id="idCuentaZohoEditar" onChange = "verificarId()"> <div style="display:none;" id="checkidCuentaZoho">Id no disponible</div></td>
          </tr>
            <tr>
            <td>Teléfono</td>
            <td><input type="text" name="telefonoEditar" id="telefonoEditar"></td>
            <td>Fax</td>
            <td><input type="text" name="faxEditar" id="faxEditar"></td>
          </tr>
            <tr>
            <td>Dirección</td>
            <td><input type="text" name="direccionEditar" id="direccionEditar" class="caja100"></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>               
          </tr>
            <tr>
            <td>Región</td>
            <td><input type="text" name="regionEditar" id="regionEditar" class="caja100"></td>              
            <td>Comuna</td>
            <td><input type="text" name="comunaEditar" class="caja100 " id="comunaEditar"></td>  
          </tr>
          <script language="javascript">
            poblarRegion("region", "comuna");
          </script>
            <tfoot>
          </tfoot>
          </table>
    <div class="botonera" id="botoneraEditarCliente" name="botoneraEditarCliente">
      <input type="button" value="Atras" onClick="cerrarDialogo('dialogoEditarCliente');" class="button btnCancelar" style="float: right;">          
      <input type="submit" value = "Guardar" class="button btnOk" style="float: right;">
  
    </div>

  </form>      
</div>


<div id="dialogoEditarNegocio" title="Editar Negocio">  
  <form name= "editarNegocio" action="/editar_negocio" method = "post">
  <table class="tablaFiltros">      
        {% csrf_token %}
            <tr>
            <td>id Negocio Zoho</td>
            <td><input disabled type="text" name="idOportunidadZohoEditar" id="idOportunidadZohoEditar" class="caja100" ><input type="hidden" name = "negocio_id_editar" id="negocio_id_editar">            
            <td>&nbsp;</td>
            <td>&nbsp;</td> 
           </tr>
            <tr>
            <td>Nombre Negocio</td>
            <td><input type="text" name="nombreNegocioEditar" id="nombreNegocioEditar" class="caja100"></td>
            <td>Descripción</td>
            <td><textarea name="descripcionEditar" class="caja400" id="descripcionEditar"></textarea></td>
          </tr>
            <tr>
            <td>Fecha</td>
            <td><input name="fechaNegocioEditar" type="text" class="fecha" id="fechaNegocioEditar" size="10" readonly /></td>
            <td>Ejecutivo Comercial</td>
            <td><select name="idejecutivoComercialEditar" id="idejecutivoComercialEditar">
            {% for ejecutivo in ejecutivos %}
                <option value = {{ ejecutivo.id }} > {{ ejecutivo.nombres}} {{ ejecutivo.apellidos }} </option>
            {%endfor%}
            </select></td>
          </tr>
            <tfoot>
            </tfoot>
          </table>
            <div class="botonera" id="botoneraEditarNegocio" name="botoneraEditarNegocio">
              <input type="button" value="Atras" onClick="cerrarDialogo('dialogoEditarNegocio');" class="button btnCancelar" style="float: right;">              
              <input type="submit" value = "Guardar" class="button btnOk" style="float: right;"> 
            </div>               
        </form>       
     </div>    

      <div id="dialogoEliminarNeg" title="Eliminar Datos">
        <form name = "FormEliminarNegocio" action = "/eliminar_negocio/" method="post">
          {% csrf_token %}  
          <table class="tablaDialogo">
            <tr>
              <td><img src= "{% static "apps/img/icoBorrar.png" %}" width="48" height="48" /></td>
              <input type="hidden" id="eliminarNegocio" name="eliminarNegocio"></input>
              <td>Está seguro que desea eliminar el negocio <span class="txtBold destacado">N°<span class="txtCenter"><span id = "negocio_id" ></span></div></span></span></td>
            </tr>
          </table>        
            <div class="botonera" id="botoneraEliminarNegocio" name="botoneraEliminarNegocio">
              <input type="button" value="Cancelar" onClick="cerrarDialogo('dialogoEliminarNeg');" class="button btnCancelar" style="float: right;">         
              <input type="submit" value = "Aceptar" class="button btnOk" style="float: right;">

            </div>
        </form>     
      </div>


      <div id="datosCliente" style="display:block">
      <h1>Datos Nuevo Cliente</h1>
      <form id = "ClienteForm" name="ClienteForm" action="/ingresar_clientepragma" method="post" >
        {% csrf_token %}
        <table class="tablaFiltros">        
            <tr>
            <td>RUT</td>
            <td><input class ="rut"  type="text" name="rut" id="rut" onChange = "verificarRut()" placeholder = "ej: 77063770-8"> <div style="display:none;" id="checkRut">Rut no disponible</div></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
            <tr>
            <td>Razón Social</td>
            <td><input type="text" name="razonSocial" id="razonSocial" class="caja100"></td>
            <div id="razonSocial"></div>
            <td>Nombre Fantasía</td>
            <td><input type="text" name="nombreFantasia" id="nombreFantasia" class="caja100"></td>
          </tr>
            <tr>
            <td>Giro</td>
            <td><input type="text" name="giro" id="giro" class="caja100"></td>
            <td>Grupo Económico</td>
            <td><select name="grupoEconomico" id="grupoEconomico">
              <option value="">Grupo Economico </option>
              <option value="1">Grupo1</option>
              <option value="2">Grupo2</option>
              <option value="3">Grupo3</option>
              <option value="4">Grupo4</option>
              <option value="5">Grupo5</option>
            </select></td>
            <!--<script language="javascript">
              poblarGrupoEconomico();
            </script>-->       
          </tr>
            <tr>
            <td>Sector</td>
            <td><select name="sector" id="sector">
              <option value="">Sector </option>
              <option value="1">Sector1</option>
              <option value="2">Sector2</option>
              <option value="3">Sector3</option>
              <option value="4">Sector4</option>
              <option value="5">Sector5</option>
            </select></td>
            <!--<script language="javascript">
              poblarSector();
            </script>-->           
            <td>Id Cuenta Zoho </td>
            <td><input type="text" name="idCuentaZoho" id="idCuentaZoho" onChange = "verificarId()"> <div style="display:none;" id="checkidCuentaZoho">Id no disponible</div></td>
          </tr>
            <tr>
            <td>Teléfono</td>
            <td><input type="text" name="telefono" id="telefono"></td>
            <td>Fax</td>
            <td><input type="text" name="fax" id="fax"></td>
          </tr>
            <tr>
            <td>Dirección</td>
            <td><input type="text" name="direccion" id="direccion" class="caja100"></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>              
          </tr>
            <tr>
            <td>Región</td>
            <td><select name="region" id="region">
              </select>
              </td>              
            <td>Comuna</td>
            <td><select name="comuna" class="caja200 " id="comuna">          
            </select></td>  
          </tr>
          <script language="javascript">
            poblarRegion("region", "comuna");
          </script>
            <tfoot>
          </tfoot>
          </table>
            <div class="botonera" id="botoneraCliente" name="botoneraCliente">
              <input type="button" value="Atras" onClick="window.location.reload();return false;" class="button btnCancelar" style="float: right;">              
              <input type="submit" value = "Guardar" class="button btnOk" style="float: right;"> 
              <!-- <input type="button" onclick="history.back();" value="Back"> -->
              <!-- <button onclick="goBack()" class="button btnCancelar" >Go Back</button> -->
            </div>           
        </form>
        </div>
        
        <div id="datosNegocio" style="display:none">
      <h1>Datos Nuevo Negocio</h1>
      <form id= "NegocioForm" name="NegocioForm" action="/ingresar_negocio" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <table class="tablaFiltros">
            <tr>
            <td>Nombre Cliente</td>
            <td><select name="cliente_id" id="cliente_id">
              <option value="" selected="selected">-- Elija Cliente --</option>                               
              {% for cliente in clientes %}
                <option value = {{ cliente.id }} > {{ cliente.razonSocial }} </option>
              {% endfor %}
            </select></td>
            <td>id Negocio Zoho</td>
            <td><input type="text" name="idOportunidadZoho" id="idOportunidadZoho" class="caja100" onChange = "verificarId()"> <div style="display:none;" id="checkidOportunidadZoho">Id no disponible</div></td>
           </tr>
            <tr>
            <td>Nombre Negocio</td>
            <td><input type="text" name="nombreNegocio" id="nombreNegocio" class="caja100"></td>
            <td>Descripción</td>
            <td><textarea name="descripcion" class="caja400" id="descripcion"></textarea></td>
          </tr>
            <tr>
            <td>Fecha</td>
            <td><input name="fechaNegocio" type="text" class="fecha" id="fechaNegocio" size="10" readonly /></td>
            <td>Ejecutivo Comercial</td>
            <td><select name="idejecutivoComercial" id="idejecutivoComercial">
            <option value="" selected="selected">-- Elija Ejecutivo --</option>                 
            {% for ejecutivo in ejecutivos %}
                <option value = {{ ejecutivo.id }} > {{ ejecutivo.nombres}} {{ ejecutivo.apellidos }} </option>
            {%endfor%}
            </select></td>
          </tr>
            <tfoot>
            </tfoot>
          </table>
            <div class="botonera" id="botoneraNegocio" name="botoneraNegocio">
              <input type="button" value="Atras" onClick="window.location.reload();return false;" class="button btnCancelar" style="float: right;">              
              <input type="submit" value = "Guardar" class="button btnOk" style="float: right;"> 
            </div>               
<!--           <div class="botonera" id="botoneraNegocio" name ="botoneraNegocio" >
            <button class="button btnCancelar">Cancelar</button>
            <button class="button btnOk" type="submit" onClick="jQuery('#dialogoOk').dialog('open')">Guardar</button>
          </div>  -->
        </form>       
        </div>

      </div>  
  </section>
  <footer class="footer">&copy; Todos los Derechos Reservados Pragma Informática S.A. - 2014</footer>
</div>

<div id="dialogoOk" title="Datos Guardados">
  <table class="tablaDialogo">
  <tr>
    <td><img src="{% static "apps/img/icoOk.png" width="48" height="48" %}"/></td>
    <td>Los datos han sido guardados exitosamente.</td>
    </tr>
</table>

</div>

<script type= "text/javascript">

  setTimeout(function() {document.getElementById('mensajes').style.display='none';},8000);

  function cerrarDialogo(dialogo){
      $('#'+dialogo).dialog('close');
  }

  function verificarId(){
    jQuery('#idOportunidadZoho').live("change",function(){
      $.ajax({
              type: "POST",
              url: "{% url 'apps.views.auth_validateId' %}",
              data: {'idOportunidadZoho': $('#idOportunidadZoho').serialize(), 'csrfmiddlewaretoken': '{{csrf_token}}'},
              dataType: "json",
              success: function(response) {
              },
              error: function(rs, e) {
                  //alert(rs.responseText);
                  if (rs.responseText == 'no') {
                      document.getElementById("checkidOportunidadZoho").innerHTML = "Este id es valido";
                      document.getElementById("checkidOportunidadZoho").style.display = 'block'
                      document.getElementById("checkidOportunidadZoho").style.color = 'green';

                  } else {
                      document.getElementById("checkidOportunidadZoho").innerHTML = "El id ya existe";
                      document.getElementById("checkidOportunidadZoho").style.display = 'block'
                      document.getElementById("checkidOportunidadZoho").style.color = 'red';

                  }
              }
          });
          return false;
    });
  } 

</script>

<script type= "text/javascript">
  function verificarRut(){
    jQuery('#rut').live("change",function(){
      $.ajax({
              type: "POST",
              url: "{% url 'apps.views.auth_validate' %}",
              data: {'rut': $('#rut').serialize(), 'csrfmiddlewaretoken': '{{csrf_token}}'},
              dataType: "json",
              success: function(response) {
              },
              error: function(rs, e) {
                  //alert(rs.responseText);
                  if (rs.responseText == 'Valido') {
                      document.getElementById("checkRut").innerHTML = "Estas ingresando un nuevo cliente.";
                      document.getElementById("checkRut").style.display = 'block'
                      document.getElementById("checkRut").style.color = 'green';

                  } else if (rs.responseText == 'Invalido'){
                      document.getElementById("checkRut").innerHTML = "Este RUT es inválido.";
                      document.getElementById("checkRut").style.display = 'block'
                      document.getElementById("checkRut").style.color = 'red';
                  } else {
                      document.getElementById("checkRut").innerHTML = "El cliente con este rut ya existe.";
                      document.getElementById("checkRut").style.display = 'block'
                      document.getElementById("checkRut").style.color = 'red';
                  }
              }
          });    
          return false;
    });
  } 

</script>

<script type="text/javascript">
   function mostrarFormulario(id) {
       var divNegocio = document.getElementById('datosNegocio');
       var divCliente = document.getElementById('datosCliente');
       var divClientesIngresados = document.getElementById('clientesIngresados');
       var divNegociosIngresados = document.getElementById('negociosIngresados');    
       var divMostrarDatos = document.getElementById('mostrarDatos');  
       var divBusquedaCliente = document.getElementById('busquedaCliente');  
       var divBusquedaNegocio = document.getElementById('busquedaNegocio');  
       var divclienteABuscar = document.getElementById('clienteABuscar');
       var divnegocioABuscar = document.getElementById('negocioABuscar');
       if(id == 'datosNegocio'){
          divNegocio.style.display = 'block';
          divCliente.style.display = 'none';
          divClientesIngresados.style.display = 'none';
          divNegociosIngresados.style.display = 'none';
          divBusquedaCliente.style.display = 'none'; 
          divclienteABuscar.style.display = 'none';  
          divBusquedaNegocio.style.display = 'none'; 
          divnegocioABuscar.style.display = 'none';       
       }else if(id == 'datosCliente'){
          divNegocio.style.display = 'none';
          divCliente.style.display = 'block';
          divClientesIngresados.style.display = 'none';
          divNegociosIngresados.style.display = 'none';
          divBusquedaCliente.style.display = 'none';   
          divclienteABuscar.style.display = 'none';   
          divBusquedaNegocio.style.display = 'none'; 
          divnegocioABuscar.style.display = 'none';              
       }
       else if(id == 'mostrarDatos'){
          divClientesIngresados.style.display = 'block';
          divNegociosIngresados.style.display = 'block';
          divNegocio.style.display = 'none';
          divCliente.style.display = 'none';
          divBusquedaCliente.style.display = 'none'; 
          divclienteABuscar.style.display = 'none';  
          divBusquedaNegocio.style.display = 'none'; 
          divnegocioABuscar.style.display = 'none';                 
       }
       else if(id == 'buscarCliente'){
          divBusquedaCliente.style.display = 'block';        
          divClientesIngresados.style.display = 'none';
          divNegociosIngresados.style.display = 'none';
          divNegocio.style.display = 'none';
          divCliente.style.display = 'none';
          divclienteABuscar.style.display = 'none';
          divBusquedaNegocio.style.display = 'none'; 
          divnegocioABuscar.style.display = 'none';            
       }    
      else if(id == 'buscarNegocio'){
          divBusquedaNegocio.style.display = 'block';
          divBusquedaCliente.style.display = 'none';        
          divClientesIngresados.style.display = 'none';
          divNegociosIngresados.style.display = 'none';
          divNegocio.style.display = 'none';
          divCliente.style.display = 'none';
          divclienteABuscar.style.display = 'none';
          divnegocioABuscar.style.display = 'none';            
       }       
   }
</script>

<script type="text/javascript">
$(document).ready(function(){
  $("#ClienteForm").validate({
    rules: {
      rut: {
        required: true,
        rangelength: [9, 11]
      },
      comuna: {
        required: true
      },
      region:{
        required: true
      },
      razonSocial:{
        required: true
      },
      nombreFantasia:{
        required: true
      },
      grupoEconomico:{
        required: true
      },
      giro:{
        required: true
      },
      sector:{
        required: true
      },
      idCuentaZoho:{
        required: true
      },
      telefono:{
        required: true,
        digits: true
      },
      fax:{
        digits: true        
      },
      direccion:{
        required:true
      }
    }
  });
});
</script>

<script type="text/javascript">

  $(document).ready(function(){
    $("#NegocioForm").validate({
      rules: {
        cliente_id: {
          required: true
        },
        idOportunidadZoho: {
          required: true,
          digits: true
        },
        nombreNegocio:{
          required: true
        },
        fechaNegocio:{
          required: true
        },
        idejecutivoComercial:{
          required: true,
          digits: true        
        }
      }
    });
  });
</script>

</body>
</html>
