{% load staticfiles %}

<!DOCTYPE HTML>
<html lang="es">
<head>
<meta charset="utf-8">
<title>Pragma | BackLog</title>
<link rel="stylesheet" href= "{% static "apps/css/normalize.min.css" %}" />
<link rel="stylesheet" href= "{% static "apps/css/masterLayout.css" %}" />
<link rel="stylesheet" href= "{% static "apps/css/contentPages.css" %}" />
<link rel="stylesheet" href= "{% static "apps/css/custom-theme/jquery-ui-1.8.11.custom.css" %}" />
<link rel="stylesheet" href= "{% static "apps/css/widgets.css"%}" />
<link rel="stylesheet" href= "{% static "apps/css/menuHorizontal.css"%}" />
<link rel="stylesheet" href= "{% static "apps/css/custom.css" %}"/>

<script type="text/javascript" src= "{% static "apps/js/jquery-1.5.1.min.js" %}"></script>
<script type="text/javascript" src= "{% static "apps/js/jquery-ui-1.8.11.custom.min.js" %}"></script>
<script type="text/javascript" src= "{% static "apps/js/jquery.validate.js" %}"></script>
<script type="text/javascript" src= "{% static "apps/js/funciones.js" %}"></script>
<script type="text/javascript" src= "{% static "apps/js/mantenedor.js" %}"></script>
<!--[if lt IE 9]>
<script type="text/javascript">
   document.createElement("nav");
   document.createElement("header");
   document.createElement("footer");
   document.createElement("section");
   document.createElement("article");
   document.createElement("aside");
   document.createElement("hgroup");
</script>
<![endif]-->

<script type="text/javascript">
  $(function() {
    $('#negocio').chainedSelect({
      parent: '#cliente',
      url: "{% url 'apps.views.poblar_negocio' %}",
      value: 'pk',
      label: 'nombreNegocio'
    });
  });
</script>

<script type="text/javascript">
  $(function() {
    $('#notaVenta').chainedSelect({
      parent: '#negocio',
      url: "{% url 'apps.views.poblar_NV' %}",
      value: 'pk',
      label: 'numeroNotaVenta'
    });
  });
</script>

<script type="text/javascript">

  $(document).ready(function(){
    $(".editar").click(function(){
    var $idComparacion = $(this).data('id');
    document.getElementById("HitoId").value= $idComparacion;
    document.getElementById("hito_id").value= $idComparacion;
      $.ajax({
              type: "POST",
              url: "{% url 'apps.views.enviar_id' %}",
              data: {'idComparacion': $idComparacion , 'csrfmiddlewaretoken': '{{csrf_token}}'},        
              daType: "json",
              success: function(datajson) {
                document.getElementById("fechaHitoEditar").value=datajson[0].fields.fecha;
                document.getElementById("montoHitoEditar").value=datajson[0].fields.montoUF;
                document.getElementById("estadoHitoEditar").value=datajson[0].fields.estado;
                document.getElementById("comentariosHitoEditar").value=datajson[0].fields.comentarios;
                document.getElementById("descripcionHitoEditar").value=datajson[0].fields.descripcion;
              },             
              error: function(rs, e) {
                alert("mal");
              }      
          });
      $('#dialogoEditarHito').dialog('open');
    });
  });
</script>

<script type="text/javascript">

  $(document).ready(function(){
    $(".modFecha").click(function(){
    var $idComparacion = $(this).data('id');
    document.getElementById("hitoModFecha_id").value= $idComparacion;
      $.ajax({
              type: "POST",
              url: "{% url 'apps.views.enviar_id' %}",
              data: {'idComparacion': $idComparacion , 'csrfmiddlewaretoken': '{{csrf_token}}'},        
              daType: "json",
              success: function(datajson) {
                document.getElementById("fechaHitoModFecha").value=datajson[0].fields.fecha;
              },             
              error: function(rs, e) {
                alert("mal");
              }      
          });
      $('#dialogoEditarFecha').dialog('open');
    });
  });
</script>

<script type="text/javascript">
  $(document).ready(function(){
    $(".facturar").click(function(){
      var $idComparacion = $(this).data('id');
      document.getElementById("id_hito_facturar").value= $idComparacion;
      document.getElementById("hito_id_facturar").value= $idComparacion;
        $.ajax({
              type: "POST",
              url: "{% url 'apps.views.enviar_id' %}",
              data: {'idComparacion': $idComparacion , 'csrfmiddlewaretoken': '{{csrf_token}}'},        
              daType: "json",
              success: function(datajson) {
                document.getElementById("montoHitoFacturar").value=datajson[0].fields.montoUF;
                document.getElementById("montoCLHitoFacturar").value=datajson[0].fields.montoCL;
              },             
              error: function(rs, e) {
                alert("mal");
              }      
          });
        $('#dialogoFacturarHito').dialog('open');
    });
  });
</script>

<script type="text/javascript">

  $(document).ready(function(){
    $(".eliminar").click(function(){
      var $hitoID = $(this).data('id');
      document.getElementById("idHitoAEliminar").value= $hitoID;
      $('#id_hito').html($hitoID);
      $('#dialogoEliminar').dialog('open');
    });

  });
</script>
</head>


<body>

<div class="wrapper">
  <header class="header">
    <div class="headerLeft"><img src="{% static "apps/img/logo.png" %}" height="50" /></div>
    <div class="headerRight"> 
      <table>
        <tr>
          <td>  Bienvenido(a): {{ user.get_full_name }}  </td>
        </tr>
        <tr>
          <td> <a style="color:white;" href="{% url 'apps.views.logout_then_login' %}"> Cerrar Sesi&oacute;n</a></td>
        </tr>
      </table>
    </div>
  </header>
  <nav class="nav">
    <div class="menuHorizontal">
      <ul class="dropdown">
        <li><a href="{% url 'apps.views.index' %}">Home</a></li>
        <li><a href="{% url 'apps.views.clientepragma' %}">Cliente</a></li>
        <li><a href="{% url 'apps.views.notaVenta' %}" >Nota de Venta</a></li>
        <li><a href="{% url 'apps.views.hitos' %}" class="active" >Hitos</a></li>
        <li><a href="{% url 'apps.views.balance' %}">Balance</a></li>
        {% for group in user.groups.all %}
            {% if group.name == 'gerencia' and size_log %}
               <li><a href="{% url 'apps.views.notificaciones' %}">Notificaciones ( {{ size_log }} ) </a></li>
               <li><a href="{% url 'apps.views.logHitos' %}">Log</a></li>               
            {% endif %}
        {% endfor %}        
      </ul>
      </div>
  </nav>
<!--   <section class="navigator">
      <div class="seeder">Usted esta en: Hitos</div>
      <div class="info">Ayuda</div>
  </section> -->
  <section class="content">
      <div class="module">
      <!-- <h1>Hitos</h1> -->
      <!-- " jQuery('#dialogoAgregarHito').dialog('open')" -->
      <!-- onClick= "agregar_hito('agregarHito')" -->
      <div class="accionesTabla"><a href="/agregarHito" >+ Agregar Hito</a></div>
      <div id = "buscar"><h1>Buscar Hito</h1></div>
        <form id = "buscarHito" name = "buscarHito" action = "/buscar_hito" method = "post">
          {% csrf_token %}
          <table class="tablaFiltros">
              <tr>
              <td>
                Cliente 
                  <select name="cliente" id="cliente">
                    <option value="" selected="selected">--Elija Cliente--</option>
                    {% for c in clientes %}
                      <option value = {{ c.id }} > {{ c.nombreFantasia }} </option>        
                    {% endfor %}
                  </select></td>
              <td>Negocio 
                <select name="negocio" id="negocio">
                  <option value="" selected="selected">--Elija Negocio--</option>                
                </select></td>
              <td>Nota Venta 
                <select name="notaVenta" id="notaVenta">
                  <option value="" selected="selected">--Elija NV--</option>                  
                </select></td>    
                <!-- onClick="verResultado()" -->
                <td rowspan="2" align="center"><button  type="submit" class="button btnBuscar">Buscar</button></td>
              </tr>
              <tr>
                <td>Fecha desde
                  <input name="fechaHitoDesde" type="text" class="fecha" id="fechaHitoDesde" size="10" readonly /></td>
                <td>Fecha hasta
                  <input name="fechaHitoHasta" type="text" class="fecha" id="fechaHitoHasta" size="10" readonly /></td>
                <td>Estado 
                  <select name="estado" id="estado">
                </select></td>  
                <script language="javascript">
                  poblarEstado();
                </script>                     
            </tr>
            </table>
          </form>  

        </div> 
 
        <div id = "mensajes" >
           {% if exito %}
              <h1 style="color:green; width:100%"> {{ exito }} </h1>
           {% else %} 
              <h1 style="color:red; width:100%"> {{ error }} </h1> 
          {% endif %}
        </div>

      {% if hitos %}
      <h1>Resultado de Búsqueda</h1>      
      <div id = "mostrarHito" style="max-height: 184px; overflow: auto; float: left; width: 1211px;">
        <table class="tablaDatos">
          <thead>
            <tr>
            <th width="15%" class="txtCenter">Fecha</th>
            <th width="10%" class="txtCenter">Numero Hito </th>
            <th width="25%" class="txtCenter">Hito</th>
            <th width="10%" class="txtCenter">Monto UF</th>
            <th width="10%" class="txtCenter">Monto Facturado</th>
            <th width="20%" class="txtCenter">Estado</th>
            <th width="10%" class="txtCenter">&nbsp;</th>          
            </tr>
          </thead>
          {% for hito in hitos %}
            <tr>
            <!-- onClick="jQuery('#dialogoEditarFecha').dialog('open')"   -->
            <td width="15%" class="txtCenter"> {{ hito.fecha|date:"d/m/Y" }} 
              {% ifnotequal hito.estado "5" %}
                <button class="button btnFecha modFecha" data-id="{{ hito.id}}">Editar</button></td>
              {% else %}  
                </td>
              {% endifnotequal %}             
            <td width="10%" class="txtCenter" value = {{forloop.counter}} > {{ hito.id }} </td>
            <td width="25%" class="txtCenter" value = {{forloop.counter}} > {{ hito.descripcion }} </td>
            <td width="10%" class="txtCenter" value = {{forloop.counter}} > {{ hito.montoUF }} </td>
            <td width="10%" class="txtCenter" value = {{forloop.counter}} > {{ hito.montoFacturado }} </td>
            {% ifequal hito.estado "1" %}
              <td width="20%" class="txtCenter" value = {{forloop.counter}} > Tentativo </td>
            {% else %}  
              {% ifequal hito.estado "2" %}
                <td width="20%" class="txtCenter" value = {{forloop.counter}} > Comprometido </td>
              {% else %}
                {% ifequal hito.estado "3" %}
                  <td width="20%" class="txtCenter" value = {{forloop.counter}} >  En riesgo OC </td>
                {% else %}
                  {% ifequal hito.estado "4" %}
                   <td width="20%" class="txtCenter" value = {{forloop.counter}} >  En riesgo </td>
                  {% else %}
                      <td width="20%" class="txtCenter" value = {{forloop.counter}} >  Facturada </td>
                    {% endifequal %}
                {% endifequal %}  
              {% endifequal %}  
            {% endifequal %}    
            <td width="10%" class="txtCenter">  
            {% ifnotequal hito.estado "5" %}
              <button class="button btnFacturar facturar" data-id="{{ hito.id }}" >Facturar</button> 
              <button class="button btnModificar editar" data-id="{{ hito.id }}" >Editar</button>
            {% endifnotequal %} 
            <button class="button btnEliminar eliminar" data-id="{{ hito.id }}">Eliminar</button>
            </td>
            </tr>
          {% endfor%}
        </table>  
      </div>     
      {% endif %}
      {% if hitoVacio %}
          <h1 style="color:red; width:100%"> {{ hitoVacio }} </h1>
      {% endif %}
  
  </section>
  <footer class="footer">&copy; Todos los Derechos Reservados Pragma Informática S.A. - 2014</footer>
</div>

<div id="dialogoEliminar" title="Eliminar Datos">
  <form name = "FormEliminarHito" action = "/eliminar_hito" method="post">
    {% csrf_token %}  
    <table class="tablaDialogo">
      <tr>
        <td><img src= "{% static "apps/img/icoBorrar.png" %}" width="48" height="48" /></td>
        <input type="hidden" id="idHitoAEliminar" name="idHitoAEliminar"></input>
        <td>Está seguro que desea eliminar el hito <span class="txtBold destacado">N°<span class="txtCenter"><span id = "id_hito" ></span></div></span></span></td>
      </tr>
    </table>        
      <div class="botonera" id="botoneraEliminarHito" name="botoneraEliminarHito">
        <input type="button" value="Cancelar" onClick="cerrarDialogo('dialogoEliminar');" class="button btnCancelar" style="float: right;">         
        <input type="submit" value = "Aceptar" class="button btnOk" style="float: right;">

      </div>
  </form>     
</div>

<div id="dialogoEditarFecha" title="Editar Fecha">
  <form id = "FormModFecha" action="/modificar_fecha" method="post">
    {% csrf_token %}                        
    <table class="tablaFiltros">
          <tr>
            <td>Nueva Fecha</td>
            <td><input name="fechaHitoModFecha" type="text" class="fecha" id="fechaHitoModFecha" size="10"  value="{{ hito.fecha|date:"d/m/Y" }}" readonly /></td><input type="hidden" name = "hitoModFecha_id" id="hitoModFecha_id">
          </tr>
          <tr>
            <td>Indique Motivo nueva fecha</td>
            <td><textarea name="motivoModFecha" class="caja300" id="motivoModFecha"></textarea></td>
          </tr>
          </table>  
          <tfoot>
          </tfoot>
        <div class="botonera" id="botoneraHito" name="botoneraHito">
          <input type="button" value="Cancelar" onClick="cerrarDialogo('dialogoEditarFecha');" class="button btnCancelar" style="float: right;">           
          <input type="submit" value = "Solicitar Cambio" class="button btnOk" onClick="jQuery('#dialogoOk').dialog('open')" style="float: right;">
        </div>          
  </form>      
</div>

<div id="dialogoFacturarHito" title="Facturar Hito">
      <form name="facturarHito" id="facturarHito" action="/facturar_hito" method="post">
        <input type="hidden" id="idComparacion" />
            <h3>Caracteristicas Generales</h3>        
              <table class="tablaFiltros">
                {% csrf_token %}                    
                  <tr>
                    <td>N° Hito </td>
                    <td><input disabled name="id_hito_facturar" type="text" id="id_hito_facturar"></td><input type="hidden" name = "hito_id_facturar" id="hito_id_facturar">
                  </tr>
                  <tfoot>
                  </tfoot>
                </table>
              <h3>Monto a facturar</h3>
                <table class="tablaFiltros">
                  <tr>
                    <td>Monto UF</td>
                    <td><input name="montoHitoFacturar" type="text" id="montoHitoFacturar">
                      UF</td>                                    
                  </tr>
                  <tfoot>
                  </tfoot>
                </table>
              <h3>Descripción factura</h3>
                <table class="tablaFiltros">
                  <tr>
                    <td>Numero Factura</td>
                    <td><input name="numeroDoc" type="text" id="numeroDoc"></td>
                    <td>Tipo de Factura</td>
                    <td><select name="tipoDoc" id="tipoDoc">
                  </select></td>  
                <script language="javascript">
                  poblarTipoDoc();
                </script>                    
                  </tr>
                  <tr>
                    <td>Signo</td>
                    <td><input name="signo" type="text" id="signo"></td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>                    
                  </tr>
                  <tr>
                    <td>Observaciones</td>
                    <td><textarea name="observaciones" id="observaciones" class="caja400" ></textarea></td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>                    
                  </tr>
                  <tfoot>
                  </tfoot>
            </table>
            <div class="botonera" id="botoneraFacturar" name="botoneraFacturar">
              <input type="button" value="Atras" onClick="cerrarDialogo('dialogoFacturarHito');" class="button btnCancelar" style="float: right;">              
              <input type="submit" value = "Guardar" class="button btnOk" onClick="jQuery('#dialogoOk').dialog('open')" style="float: right;">
            </div>  
      </form>       
    </div>


<div id="dialogoEditarHito" title="Editar Hito">
      <form name="editarHito" id ="editarHito" action="/editar_hito" method="post">
        <input type="hidden" id="idComparacion" />
            <h3>Caracteristicas Generales</h3>        
              <table class="tablaFiltros">
                {% csrf_token %}                    
                  <tr>
                    <td>N° Hito </td>
                    <td><input disabled name="HitoId" type="text" id="HitoId"></td><input type="hidden" name = "hito_id" id="hito_id">
                    <td>Fecha</td>
                    <td><input disabled name="fechaHitoEditar" type="text" class="fecha" id="fechaHitoEditar" value="{{ hito.fecha|date:"d/m/Y" }}" size="10" /></td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>
                  <tfoot>
                  </tfoot>
                </table>
              <h3>Moneda</h3>
                <table class="tablaFiltros">
                  <tr>
                    <td>Monto UF</td>
                    <td><input name="montoHitoEditar" type="text" id="montoHitoEditar">
                      UF</td>
                  </tr>
                  <tfoot>
                  </tfoot>
                </table>
              <h3>Descripción hito</h3>
                <table class="tablaFiltros">
                  <tr>
                    <td>Estado</td>
                    <td><input name="estadoHitoEditar" type="text" id="estadoHitoEditar"></td>  
                  </tr>
                  <tr>
                    <td>Comentarios</td>
                    <td><textarea name="comentariosHitoEditar" id="comentariosHitoEditar" class="caja400"></textarea></td>
                  </tr>
                  <tr>
                    <td>Descripción</td>
                    <td><textarea name="descripcionHitoEditar" id="descripcionHitoEditar" class="caja400" ></textarea></td>
                  </tr>
                  <tfoot>
                  </tfoot>
            </table>
            <div class="botonera" id="botoneraHito" name="botoneraHito">
              <input type="button" value="Atras" onClick="cerrarDialogo('dialogoEditarHito');" class="button btnCancelar" style="float: right;">              
              <input type="submit" value = "Guardar" class="button btnOk" onClick="jQuery('#dialogoOk').dialog('open')" style="float: right;">
            </div>  
      </form>       
    </div>

    <div id="dialogoOkHito" title="Datos Guardados">
      <table class="tablaDialogo">
        <tr>
          <td><img src= "{% static "apps/img/icoOk.png" %}" width="48" height="48" /></td>
          <td>Los datos han sido guardados exitosamente.</td>
        </tr>
      </table>
    </div>

<div id="dialogoSolicitar" title="Solicitar Cambio">
  <table class="tablaDialogo">
  <tr>
    <td><img src= "{% static "apps/img/icoSolicitud.png" %}" width="48" height="48" /></td>
    <td>Su solicitud ha sido enviada a <span class="txtBold destacado">mail@pragma.cl</span></td>
    </tr>
</table>
</div>


<script type="text/javascript">

  setTimeout(function() {document.getElementById('mensajes').style.display='none';},8000);

  function cerrarDialogo(dialogo){
      $('#'+dialogo).dialog('close');
  }

   function agregar_hito(id) {
      var divagregarHito = document.getElementById('agregarHito');
       // var divBusqueda = document.getElementById('busqueda');
      var divBuscar = document.getElementById('buscar');
      var divResultado = document.getElementById('resultado');      
      var divMostrarHito = document.getElementById('mostrarHito');
       //var divtablaDatosBusqueda = document.getElementById('tablaDatosBusqueda');
       if(id == 'agregarHito'){
          divagregarHito.style.display = 'block';
          // divBusqueda.style.display = 'none';
          divBuscar.style.display = 'none';
          divResultado.style.display = 'none';
          divMostrarHito.style.display = 'none';
          //divtablaDatosBusqueda.style.display = 'none';
       }else{
          divagregarHito.style.display = 'none';

       }
   }
</script>

<script type="text/javascript">
$(document).ready(function(){
  $("#editarHito").validate({
    rules: {
      fechaHitoEditar:{
        required: true
      },
      montoHitoEditar:{
        required: true,
        digits: true        
      },
      estadoHitoEditar:{
        required: true
      }
    }
  });
});
</script>

<script type="text/javascript">
$(document).ready(function(){
  $("#facturarHito").validate({
    rules: {
      tipoDoc:{
        required: true
      },
      montoHitoFacturar:{
        required: true,
        digits: true        
      },
      numeroDoc:{
        required: true,
        digits:true
      },
      signo:{
        required: true
      }      
    }
  });
});
</script>

</body>
</html>
