{% load staticfiles %}

<!DOCTYPE HTML>
<html lang="es">
<head>
<meta charset="utf-8">
<title>Pragma | BackLog</title>
<link rel="stylesheet" href= "{% static "apps/css/normalize.min.css" %}" />
<link rel="stylesheet" href= "{% static "apps/css/masterLayout.css" %}" />
<link rel="stylesheet" href= "{% static "apps/css/contentPages.css" %}" />
<link rel="stylesheet" href= "{% static "apps/css/custom-theme/jquery-ui-1.8.11.custom.css" %}" />
<link rel="stylesheet" href= "{% static "apps/css/widgets.css"%}" />
<link rel="stylesheet" href= "{% static "apps/css/menuHorizontal.css"%}" />
<link rel="stylesheet" href= "{% static "apps/css/custom.css" %}"/>

<script type="text/javascript" src= "{% static "apps/js/jquery-1.5.1.min.js" %}"></script>
<script type="text/javascript" src= "{% static "apps/js/jquery-ui-1.8.11.custom.min.js" %}"></script>
<script type="text/javascript" src= "{% static "apps/js/funciones.js" %}"></script>
<!--[if lt IE 9]>
<script type="text/javascript">
   document.createElement("nav");
   document.createElement("header");
   document.createElement("footer");
   document.createElement("section");
   document.createElement("article");
   document.createElement("aside");
   document.createElement("hgroup");
</script>
<![endif]-->
</head>

<body>
	
<div class="wrapper">
  <header class="header">
    <div class="headerLeft"><img src="{% static "apps/img/logo.png" %}" height="50" /></div>
    <div class="headerRight"> 
      <table>
        <tr>
          <td>  Bienvenido(a): {{ user.get_full_name }}  </td>
        </tr>
        <tr>
          <td> <a style="color:white;" href="{% url 'apps.views.logout_then_login' %}"> Cerrar Sesi&oacute;n</a></td>
        </tr>
      </table>
    </div>  
  </header>
  <nav class="nav">
    <div class="menuHorizontal">
      <ul class="dropdown">
        <li><a href="{% url 'apps.views.index' %}" class="active" >Home</a></li>
        <li><a href="{% url 'apps.views.clientepragma' %}" >Cliente</a></li>
        <li><a href="{% url 'apps.views.notaVenta' %}" >Nota de Venta</a></li>
        <li><a href="{% url 'apps.views.hitos' %}">Hitos</a></li>
        <li><a href="{% url 'apps.views.balance' %}">Balance</a></li>
        {% for group in user.groups.all %}
            {% if group.name == 'gerencia' and size_log %}
              <li><a href="{% url 'apps.views.notificaciones' %}">Notificaciones ( {{ size_log }} ) </a></li>
              <li><a href="{% url 'apps.views.logHitos' %}">Log </a></li>
            {% endif %}
        {% endfor %}               
      </ul>
      </div>
  </nav>
<!--   <section class="navigator">
      <div class="seeder">Usted esta en: Home</div>
      <div class="info"><li><a href="{% url 'apps.views.logout_then_login' %}"> Log Out</a></li></div>
  </section> -->
  <section class="content">
      <div class="module">
      <h1>Hitos Facturados</h1>
      <table class="tablaDatos">
          <thead>
          <tr>
              <th>Fecha</th>
              <th>Hito</th>
              <th>Nota Venta</th>
              <th>Cliente</th>
              <th>Negocio</th>
              <th>Estado</th>
              <th>Descripción</th>
              <th>UF</th>
            </tr>
        </thead>
        <!-- hacer una lista lista[[hito1, numeroNV1, cliente1, etc1],[hito2, numeroNV2, cliente2, etc2],[]]-->
      {% for h in lista_hitos %}     
              <tr>
                <td class="txtCenter">{{ h.1|date:"d/m/Y" }}</td>
                <td class="txtCenter">{{ h.0 }}</td>
                <td class="txtCenter">{{ h.5 }}</td>
                <td class="txtCenter">{{ h.7 }}</td>
                <td class="txtCenter">{{ h.6 }}</td>
                {% ifequal h.2 "1" %}
                  <td width="15%" class="txtCenter" value = {{forloop.counter}} > Tentativo </td>
                {% else %}  
                  {% ifequal h.2 "2" %}
                    <td width="15%" class="txtCenter" value = {{forloop.counter}} > Comprometido </td>
                  {% else %}
                    {% ifequal h.2 "3" %}
                      <td width="15%" class="txtCenter" value = {{forloop.counter}} >  En riesgo OC </td>
                    {% else %}
                      {% ifequal h.2 "4" %}
                       <td width="15%" class="txtCenter" value = {{forloop.counter}} >  En riesgo </td>
                      {% else %}
                          <td width="15%" class="txtCenter" value = {{forloop.counter}} >  Facturada </td>
                        {% endifequal %}
                    {% endifequal %}  
                  {% endifequal %}  
                {% endifequal %}
                <td class="txtCenter">{{ h.4 }}</td>
                <td class="txtCenter">{{ h.3 }}</td>
              </tr>
      {% endfor %}     
          <tfoot>
            <tr>
              <th colspan="7" class="txtRight">Total: </th>
              <th class="txtCenter">{{ monto_acumulado_Fac}}</th>
            </tr>
        </tfoot>
        </table>
        
        <h1>Hitos No Facturados / Pendientes de Facturar </h1>
        <div style="max-height: 180px; overflow: auto; float: left; width: 1211px;">
        <table id = "tablaNoFacturada" class="tablaDatos" >
            <thead>
            <tr>
                <th>Fecha</th>
                <th>Hito</th>
                <th>Nota Venta</th>
                <th>Cliente</th>
                <th>Negocio</th>
                <th>Estado</th>
                <th>Descripción</th>
                <th>UF</th>
              </tr>
          </thead>
          {% for hn in lista_hitos_NF %} 
            <tr >
              <td class="txtCenter">{{ hn.1|date:"d/m/Y" }}</td>
              <td class="txtCenter">{{ hn.0 }}</td>
              <td class="txtCenter">{{ hn.5 }}</td>
              <td class="txtCenter">{{ hn.7 }}</td>
              <td class="txtCenter">{{ hn.6 }}</td>
              {% ifequal hn.2 "1" %}
                <td width="15%" class="txtCenter" value = {{forloop.counter}} > Tentativo </td>
              {% else %}  
                {% ifequal hn.2 "2" %}
                  <td width="15%" class="txtCenter" value = {{forloop.counter}} > Comprometido </td>
                {% else %}
                  {% ifequal hn.2 "3" %}
                    <td width="15%" class="txtCenter" value = {{forloop.counter}} >  En riesgo OC </td>
                  {% else %}
                    {% ifequal hn.2 "4" %}
                     <td width="15%" class="txtCenter" value = {{forloop.counter}} >  En riesgo </td>
                    {% else %}
                        <td width="15%" class="txtCenter" value = {{forloop.counter}} >  Facturada </td>
                      {% endifequal %}
                  {% endifequal %}  
                {% endifequal %}  
              {% endifequal %}

              <td class="txtCenter">{{ hn.4 }}</td>
              <td class="txtCenter">{{ hn.3 }}</td>
            </tr>
          {% endfor %}
            <tfoot>
            <tr>
                <th colspan="7" class="txtRight">Total: </th>
                <th class="txtCenter">{{monto_acumulado_NF}}</th>
              </tr>
          </tfoot>
          </table>
         </div> 
      </div>  
  </section>
  <footer class="footer">&copy; Todos los Derechos Reservados Pragma Informática S.A. - 2014</footer>
</div>
</body>
</html>
