{% load staticfiles %}

<!DOCTYPE HTML>
<html lang="es">
<head>
<meta charset="utf-8">
<title>Pragma | BackLog</title>
<link rel="stylesheet" href= "{% static "apps/css/normalize.min.css" %}" />
<link rel="stylesheet" href= "{% static "apps/css/masterLayout.css" %}" />
<link rel="stylesheet" href= "{% static "apps/css/contentPages.css" %}" />
<link rel="stylesheet" href= "{% static "apps/css/custom-theme/jquery-ui-1.8.11.custom.css" %}" />
<link rel="stylesheet" href= "{% static "apps/css/widgets.css"%}" />
<link rel="stylesheet" href= "{% static "apps/css/menuHorizontal.css"%}" />
<link rel="stylesheet" href= "{% static "apps/css/custom.css" %}"/>


<script type="text/javascript" src= "{% static "apps/js/jquery-1.5.1.min.js" %}"></script>
<script type="text/javascript" src= "{% static "apps/js/jquery-ui-1.8.11.custom.min.js" %}"></script>
<script type="text/javascript" src= "{% static "apps/js/funciones.js" %}"></script>
<script type="text/javascript" src= "{% static "apps/js/localidad.js" %}"></script>
<!--[if lt IE 9]>
<script type="text/javascript">
   document.createElement("nav");
   document.createElement("header");
   document.createElement("footer");
   document.createElement("section");
   document.createElement("article");
   document.createElement("aside");
   document.createElement("hgroup");
</script>
<![endif]-->
</head>

<body>
    
<div class="wrapper">
  <header class="header">
    <div class="headerLeft"><img src="{% static "apps/img/logo.png" %}" height="50" /></div>
    <div class="headerRight"> 
      <table>
        <tr>
          <td>  Bienvenido(a): {{ user.get_full_name }}  </td>
        </tr>
        <tr>
          <td> <a style="color:white;" href="{% url 'apps.views.logout_then_login' %}"> Cerrar Sesi&oacute;n</a></td>
        </tr>
      </table>
    </div>
  </header>
  <nav class="nav">
    <div class="menuHorizontal">
      <ul class="dropdown">
        <li><a href="{% url 'apps.views.index' %}">Home</a></li>
        <li><a href="{% url 'apps.views.clientepragma' %}">Cliente</a></li>
        <li><a href="{% url 'apps.views.notaVenta' %}" >Nota de Venta</a></li>
        <li><a href="{% url 'apps.views.hitos' %}">Hitos</a></li>
        <li><a href="{% url 'apps.views.balance' %}">Balance</a></li>
        {% for group in user.groups.all %}
            {% if group.name == 'gerencia' and size_log %}
               <li><a href="{% url 'apps.views.notificaciones' %}">Notificaciones ( {{ size_log }} ) </a></li>
               <li><a href="{% url 'apps.views.logHitos' %}" class="active">Log </a></li>               
            {% endif %}
        {% endfor %}         
      </ul>
      </div>
  </nav>
  <section class="content">
      <div class="module">

      <div id = "buscar"><h1>Buscar por Nota Venta</h1></div>       
        <div id = "busqueda">
        <form class="form-horizontal" id= "buscarPorNV" name = "buscarPorNV" action = "/buscar_logHito" method="post">
          {% csrf_token %}
          <table class="tablaFiltros">
              <tr>
              <td>Numero Nota Venta
               <select name="notaVenta" id="notaVenta" >
                    <option value="" selected="selected">--Elija NV--</option>                
                    {% for n in notaVentas %}
                      <option value = {{ n.id }} > {{ n.numeroNotaVenta }} </option>
                    {% endfor %}
                </select></td>
              <td align="center"><button type="submit" class="button btnBuscar">Buscar</button></td>
            </tr>
            </table>
          </form>  
        </div> 

      <div id = "mensajes" >
         {% if exito %}
            <h1 style="color:green; width:100%"> {{ exito }} </h1>
         {% else %} 
            <h1 style="color:red; width:100%"> {{ error }} </h1> 
        {% endif %}
      </div>
        {% if lista %}
      <h1> Log de Hitos </h1>
      <div style="max-height: 266px; overflow: auto; float: left; width: 1211px;">
      <table class="tablaDatos">
          <thead>
          <tr>
              <th>Nota de Venta </th>
              <th>Cliente</th>
              <th>Negocio</th>
              <th>Fecha Hito</th>
              <th>Hito</th>
              <th>Tipo de Solicitud </th>
              <th>Fecha Antigua </th>
              <th>Fecha Solicitada </th>
              <th>Monto UF Antiguo </th>
              <th>Monto UF Solicitado </th>
              <th>Estado</th>
            </tr>
        </thead>
      {% for h in lista %} 
        {% ifequal h.1 " " %}
          <tr class = "totalmes">
            <th colspan="10" class="txtRight">Total: </th>
            <th class="txtCenter">{{ h.1 }}</th>
          </tr>      
        {% else %}    
              <tr>
                <td class="txtCenter">{{ h.3 }}</td>
                <td class="txtCenter">{{ h.1 }}</td>
                <td class="txtCenter">{{ h.2 }}</td>
                <td class="txtCenter">{{ h.0|date:"d/m/Y" }}</td>
                <td class="txtCenter">{{ h.4 }}</td>
                <td class="txtCenter">{{ h.5 }}</td>
                <td class="txtCenter">{{ h.6|date:"d/m/Y" }}</td>
                {% if h.7 == None %}
                  <td class="txtCenter">{{ h.6|date:"d/m/Y" }}</td>
                {% else %}
                  <td class="txtCenter">{{ h.7|date:"d/m/Y" }}</td>
                {% endif %}  
                <td class="txtCenter">{{ h.8 }}</td>
                {% if h.9 == 0.0 %}
                  <td class="txtCenter">{{ h.8 }}</td>
                {% else %}  
                  <td class="txtCenter">{{ h.9 }}</td>
                {% endif %}   
                <td class="txtCenter">{{ h.11 }}</td>               
 <!--                {% if h.10 %}
                  <td class="txtCenter"> Gestionado </td> 
                {% else %}
                  <td class="txtCenter"> En espera </td> 
                {% endif %}  -->            
              </tr>
        {% endifequal %}      
      {% endfor %}     
        </table>  
      </div>          
    {% endif %}
      {% if logHitoVacio %}
          <h1 style="color:red; width:100%"> {{ logHitoVacio }} </h1>
      {% endif %}

      </div>  
  </section>
  <footer class="footer">&copy; Todos los Derechos Reservados Pragma Informática S.A. - 2014</footer>
</div>
</body>
</html>