{% load staticfiles %}

<!DOCTYPE HTML>
<html lang="es">
<head>
<meta charset="utf-8">
<title>Pragma | BackLog</title>
<link rel="stylesheet" href= "{% static "apps/css/normalize.min.css" %}" />
<link rel="stylesheet" href= "{% static "apps/css/masterLayout.css" %}" />
<link rel="stylesheet" href= "{% static "apps/css/contentPages.css" %}" />
<link rel="stylesheet" href= "{% static "apps/css/custom-theme/jquery-ui-1.8.11.custom.css" %}" />
<link rel="stylesheet" href= "{% static "apps/css/widgets.css"%}" />
<link rel="stylesheet" href= "{% static "apps/css/menuHorizontal.css"%}" />
<link rel="stylesheet" href= "{% static "apps/css/custom.css" %}"/>

<script type="text/javascript" src= "{% static "apps/js/jquery-1.5.1.min.js" %}"></script>
<script type="text/javascript" src= "{% static "apps/js/jquery-ui-1.8.11.custom.min.js" %}"></script>
<script type="text/javascript" src= "{% static "apps/js/funciones.js" %}"></script>
<!--[if lt IE 9]>
<script type="text/javascript">
   document.createElement("nav");
   document.createElement("header");
   document.createElement("footer");
   document.createElement("section");
   document.createElement("article");
   document.createElement("aside");
   document.createElement("hgroup");
</script>
<![endif]-->
</head>

<body>
    
<div class="wrapper">
  <header class="header">
    <div class="headerLeft"><img src="{% static "apps/img/logo.png" %}" height="50" /></div>
  </header>

  <section class="content">
      <div class="moduleLogin">
        <div id="login">
            <form class="form-horizontal" name="LoginForm" action="/login/" method="post">
            {% csrf_token %}
            {% if next %}
                <input type="hidden" name="next" value="{{ next }}" />
            {% endif %}
            <div class="control-group">
                <label class="control-label" for="username"><h3 style="margin-top: 6px; margin-bottom: 4px;">Username</h3></label>
                <div class="controls">
                    <input type="text" id="username" name="username" >
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="password"><h3 style="margin-top: 6px; margin-bottom: 4px;">Password</h3></label>
                <div class="controls">
                    <input type="password" name="password" id="password">
                </div>
            </div>
            <div class="control-group">
                <div class="controls" style="text-align: center; margin-top: 5px;">
                    <button type="submit" class="button">Login</button>
                </div>
            </div>
            </form>
        </div>
      </div>  
  </section>
  <footer class="footer">&copy; Todos los Derechos Reservados Pragma Informática S.A. - 2014</footer>
</div>
</body>
</html>