{% load staticfiles %}

<!DOCTYPE HTML>
<html lang="es">
<head>
<meta charset="utf-8">
<title>Pragma | BackLog</title>
<link rel="stylesheet" href= "{% static "apps/css/normalize.min.css" %}" />
<link rel="stylesheet" href= "{% static "apps/css/masterLayout.css" %}" />
<link rel="stylesheet" href= "{% static "apps/css/contentPages.css" %}" />
<link rel="stylesheet" href= "{% static "apps/css/custom-theme/jquery-ui-1.8.11.custom.css" %}" />
<link rel="stylesheet" href= "{% static "apps/css/widgets.css"%}" />
<link rel="stylesheet" href= "{% static "apps/css/menuHorizontal.css"%}" />
<link rel="stylesheet" href= "{% static "apps/css/custom.css" %}"/>

<script type="text/javascript" src= "{% static "apps/js/jquery-1.5.1.min.js" %}"></script>
<script type="text/javascript" src= "{% static "apps/js/jquery-ui-1.8.11.custom.min.js" %}"></script>
<script type="text/javascript" src= "{% static "apps/js/funciones.js" %}"></script>
<script type="text/javascript" src= "{% static "apps/js/jquery.chainedSelect.min.js" %}"></script>
<script type="text/javascript" src= "{% static "apps/js/jquery.validate.js" %}"></script>

<!--[if lt IE 9]>
<script type="text/javascript">
   document.createElement("nav");
   document.createElement("header");
   document.createElement("footer");
   document.createElement("section");
   document.createElement("article");
   document.createElement("aside");
   document.createElement("hgroup");
</script>
<![endif]-->

<script type="text/javascript">
  $(function() {
    $('#negocio').chainedSelect({
      parent: '#cliente',
      url: "{% url 'apps.views.poblar_negocio' %}",
      value: 'pk',
      label: 'nombreNegocio'
    });
  });
</script>

<script type="text/javascript">

  $(document).ready(function(){
    $(".modificar").click(function(){
    var $idComparacion = $(this).data('id');
    document.getElementById("notaVenta_id").value= $idComparacion;
      $.ajax({
              type: "POST",
              url: "{% url 'apps.views.enviar_idNV' %}",
              data: {'idComparacion': $idComparacion , 'csrfmiddlewaretoken': '{{csrf_token}}'},        
              daType: "json",
              success: function(datajson) {
                document.getElementById("numeroNotaVentaEditar").value= datajson[0].fields.numeroNotaVenta;
                document.getElementById("fechaNotaVentaEditar").value=datajson[0].fields.fechaNotaVenta;
                document.getElementById("montoUFEditar").value=datajson[0].fields.montoUF;
                document.getElementById("estadoEditar").value=datajson[0].fields.estado;
                document.getElementById("divisaEditar").value=datajson[0].fields.divisa;
                document.getElementById("glosaEditar").value=datajson[0].fields.glosa;
                document.getElementById("nombreServicioEditar").value=datajson[0].fields.nombreServicio;
                document.getElementById("tipoServicioEditar").value=datajson[0].fields.tipoServicio;
                document.getElementById("subTipoServicioEditar").value=datajson[0].fields.subTipoServicio;
                document.getElementById("responsableDeliveryEditar").value=datajson[0].fields.responsableDelivery;
                document.getElementById("correoRespDeliveryEditar").value=datajson[0].fields.correoRespDelivery;
                document.getElementById("margenNegocioUFEditar").value=datajson[0].fields.margenNegocioUF;
                document.getElementById("margenNegocioPercentEditar").value=datajson[0].fields.margenNegocioPercent;
                document.getElementById("instFacturacionEditar").value=datajson[0].fields.instFacturacion;

              },             
              error: function(rs, e) {
                alert("mal");
              }      
          });
      $('#dialogoEditarNotaVenta').dialog('open');
    });
  });
</script>

<script type="text/javascript">

  $(document).ready(function(){
    $(".verDetalle").click(function(){
      var $idComparacion = $(this).data('id');
      $.ajax({
              type: "POST",
              url: "{% url 'apps.views.enviar_idNV' %}",
              data: {'idComparacion': $idComparacion , 'csrfmiddlewaretoken': '{{csrf_token}}'},        
              daType: "json",
              success: function(datajson) {
                $('#numeroNotaVenta').html(datajson[0].fields.numeroNotaVenta)
                $('#fechaNotaVenta').html(datajson[0].fields.fechaNotaVenta)
                $('#montoUF').html(datajson[0].fields.montoUF)
                $('#estado').html(datajson[0].fields.estado)
                $('#divisa').html(datajson[0].fields.divisa)                
                $('#glosa').html(datajson[0].fields.glosa)
                $('#nombreServicio').html(datajson[0].fields.nombreServicio)
                $('#tipoServicio').html(datajson[0].fields.tipoServicio)
                $('#subTipoServicio').html(datajson[0].fields.subTipoServicio)
                $('#responsableDelivery').html(datajson[0].fields.responsableDelivery)
                $('#correoRespDelivery').html(datajson[0].fields.correoRespDelivery)
                $('#tipoServicio').html(datajson[0].fields.tipoServicio)
                $('#tipoServicio').html(datajson[0].fields.tipoServicio)
                $('#instFacturacion').html(datajson[0].fields.instFacturacion)
                // document.getElementById("margenNegocioUFEditar").value=datajson[0].fields.margenNegocioUF;
                // document.getElementById("margenNegocioPercentEditar").value=datajson[0].fields.margenNegocioPercent;

              },             
              error: function(rs, e) {
                alert("mal");
              }      
          });
      $('#dialogoDetalleNotaVenta').dialog('open');
    });
  });
</script>

<script type="text/javascript">

  $(document).ready(function(){
    $(".eliminar").click(function(){
      var $idComparacion = $(this).data('id');
      document.getElementById("eliminarNV").value= $idComparacion;
      $.ajax({
              type: "POST",
              url: "{% url 'apps.views.enviar_idNV' %}",
              data: {'idComparacion': $idComparacion , 'csrfmiddlewaretoken': '{{csrf_token}}'},        
              daType: "json",
              success: function(datajson) {
                $('#eliminarNV_id').html(datajson[0].fields.numeroNotaVenta);
              },             
              error: function(rs, e) {
                alert("mal");
              }      
          });     
      $('#dialogoEliminar').dialog('open');
    });
  });

</script>
</head>

<body>


<div class="wrapper">
  <header class="header">
    <div class="headerLeft"><img src="{% static "apps/img/logo.png" %}" height="50" /></div>
    <div class="headerRight"> 
      <table>
        <tr>
          <td>  Bienvenido(a): {{ user.get_full_name }}  </td>
        </tr>
        <tr>
          <td> <a style="color:white;" href="{% url 'apps.views.logout_then_login' %}"> Cerrar Sesi&oacute;n</a></td>
        </tr>
      </table>
    </div>
  </header>
  <nav class="nav">
  	<div class="menuHorizontal">
      <ul class="dropdown">
        <li><a href="{% url 'apps.views.index' %}">Home</a></li>
        <li><a href="{% url 'apps.views.clientepragma' %}">Cliente</a></li>
        <li><a href="{% url 'apps.views.notaVenta' %}" class="active">Nota de Venta</a></li>
        <li><a href="{% url 'apps.views.hitos' %}" >Hitos</a></li>
        <li><a href="{% url 'apps.views.balance' %}">Balance</a></li>
        {% for group in user.groups.all %}
            {% if group.name == 'gerencia' and size_log %}
               <li><a href="{% url 'apps.views.notificaciones' %}">Notificaciones ( {{ size_log }} ) </a></li>
               <li><a href="{% url 'apps.views.logHitos' %}">Log</a></li>               
            {% endif %}
        {% endfor %}         
      </ul>
      </div>
  </nav>
<!--   <section class="navigator">
      <div class="seeder">Usted esta en: Nota de Venta</div>
      <div class="info">Ayuda</div>
  </section> -->
  <section class="content">
      <div class="module">
      <div id = "buscar"><h1>Buscar Nota Venta</h1></div>
      <!-- jQuery('#dialogoAgregarNotaVenta').dialog('open'); -->
      <!-- onClick="agregar_NV('agregarNV')" -->
      <div class="accionesTabla" id = "accionesTabla"><a href="/agregarNV" >+ Agregar Nota Venta</a></div>
        <div id = "busqueda">
        <form class="form-horizontal" name = "negociopoblar" action = "/buscar_NV" method="post">
          {% csrf_token %}
          <table class="tablaFiltros">
              <tr>
               <td>
               Cliente 
              <select name="cliente" id="cliente" onChange="poblarNegocio()">
                  <option value="" selected="selected">--Elija Cliente--</option>                
                  {% for c in clientes %}
                    <option value = {{c.id}} > {{ c.nombreFantasia }} </option>
                  {% endfor %}
              </select></td>
              <td> Negocio
              <select name="negocio" id="negocio">
                <option value="" selected="selected">--Elija Negocio--</option>                
              </select></td>
              <td>Numero Nota Venta
                  <input name = "numeroNV" type="text" id = "numeroNV" size="10"/></td>
              <td>Fecha desde 
                <input name="fechaNegocioDesde" type="text" class="fecha" id="fechaNegocioDesde" size="10" readonly /></td>
              <td>Fecha hasta 
                <input name="fechaNegocioHasta" type="text" class="fecha" id="fechaNegocioHasta" size="10" readonly /></td>
              <td align="center"><button type="submit" class="button btnBuscar">Buscar</button></td>
            </tr>
            </table>
          </form>  
        </div> 

        <div id = "mensajes" >
           {% if exito %}
              <h1 style="color:green; width:100%"> {{ exito }} </h1>
           {% else %} 
              <h1 style="color:red; width:100%"> {{ error }} </h1> 
          {% endif %}
        </div>


        {% if notaVentas %}
          <h1>Resultado de Búsqueda</h1>
        <div id = "mostrarNV" style="max-height: 180px; overflow: auto; float: left; width: 1211px;">
          <table class="tablaDatos">
            <thead>
              <tr>
              <th>Numero NVenta</th>
              <th>Fecha </th>
              <th>Monto UF</th>
              <th>Estado</th>
              <th class="icoAcciones">&nbsp;</th>
              </tr>
            </thead>
            {% for notaVenta in notaVentas%}
              <tr>
              <td class="txtCenter">
              <button class="button btnOk verDetalle" data-id = "{{notaVenta.id}}">{{notaVenta.numeroNotaVenta}} </button> </td>                
              <td value = {{forloop.counter}} class="txtCenter"> {{ notaVenta.fechaNotaVenta|date:"d/m/Y" }} </td>
              <td value = {{forloop.counter}} class="txtCenter"> {{ notaVenta.montoUF }} </td>
              <td value = {{forloop.counter}} class="txtCenter"> {{ notaVenta.estado }} </td>
              <td>
              <button class="button btnModificar modificar" data-id = "{{notaVenta.id}}" class="txtCenter">Editar</button>
              <button class="button btnEliminar eliminar" data-id = "{{notaVenta.id}}" class="txtCenter">Eliminar</button>
              </td>
              </tr>              
            {% endfor%}
          </table>  
        </div>     
        {% endif %}
      {% if notaVentaVacia %}
          <h1 style="color:red; width:100%"> {{ notaVentaVacia }} </h1>
      {% endif %}
      </div>  

  </section>
  <footer class="footer">&copy; Todos los Derechos Reservados Pragma Informática S.A. - 2014</footer>
</div>

<div id="dialogoEliminar" title="Eliminar Datos">  
  <form name = "FormEliminarNV" action = "/eliminar_NV" method="post" >
    {% csrf_token %}    
    <table class="tablaDialogo">
    <tr>
      <td><img src= "{% static "apps/img/icoBorrar.png" %}" width="48" height="48" /></td>
      <input type="hidden" name="eliminarNV" id="eliminarNV"></input>      
      <td>Está seguro que desea eliminar la Nota de Venta <span class="txtBold destacado"><span id = "eliminarNV_id" ></span></span></td>
    </tr>
    </table>
      <div class="botonera" id="botoneraNV" name="botoneraNV">
        <input type="button" value="No" onClick="cerrarDialogo('dialogoEliminar');" class="button btnCancelar" style="float: right;">         
        <input type="submit" value = "Si" class="button btnOk" onClick="jQuery('#dialogoOk').dialog('open')" style="float: right;">
      </div>
  </form>
</div>

<div id="dialogoEliminarOk" title="Eliminar Datos">
  <table class="tablaDialogo">
  <tr>
    <td><img src= "{% static "apps/img/icoBorrarOk.png" %}" width="48" height="48" /></td>
    <td>Los datos han sido eliminados exitosamente</td>
    </tr>
</table>
</div>

<div id="dialogoDetalleNotaVenta" title="Detalle Nota Venta">
    <table class="tablaFiltros">
        <tr>
        <td><b>Numero NVenta</b></td>
        <td><span id = "numeroNotaVenta" ></span></td>
        <td><b>Fecha</b> </td>
        <td><span id = "fechaNotaVenta" ></span></td>
        </tr>
        <tr>        
        <td><b>Monto UF</b></td>
        <td><span id = "montoUF" ></span></td>
        <td><b>Estado</b></td>
        <td><span id = "estado" ></span></td>
        </tr>
        <tr>
        <td><b>Divisa</b></td>   
        <td><span id = "divisa" ></span></td>
        <td><b>Glosa</b></td> 
        <td><span id = "glosa" ></span></td>
        </tr>    
       <tr>
        <td><b>Servicio</b></td>   
        <td><span id = "nombreServicio" ></span></td>
        <td><b>Tipo de Servicio</td> 
        <td><span id = "tipoServicio" ></span></td>
        </tr>  
        <tr>
        <td><b>Sub tipo de Servicio</b></td>
        <td><span id="subTipoServicio" ></span></td> 
        <td><b>Instancia de Facturacion</b></td>
        <td><span id="instFacturacion" ></span></td> 
        </tr>  
        <tr>
        <td><b>Responsable Delivery</b></td>   
        <td><span id = "responsableDelivery" ></span></td>
        <td><b>Correo Resp Delivery</b></td> 
        <td><span id = "correoRespDelivery" ></span></td>       
        </tr>              
    </table> 
        <tfoot>
        </tfoot>     
  <td class="icoAcciones">&nbsp;</td>    
</div>

<!--Editando Nota de Venta -->

<div id="dialogoEditarNotaVenta" title="Editar Nota Venta">  
  <form name= "editarNV" id = "editarNV" action="/editar_NV" method = "post">
  <table class="tablaFiltros">
        {% csrf_token %}
        <tr>
          <td>N° Nota Venta</td>
          <td><input  disabled name="numeroNotaVentaEditar" type="text" id="numeroNotaVentaEditar" ></td><input type="hidden" name = "notaVenta_id" id="notaVenta_id">
          <td>Fecha</td>
          <td><input name="fechaNotaVentaEditar" type="text" class="fecha" id="fechaNotaVentaEditar" value="{{ notaVenta.fechaNotaVenta|date:"d/m/Y"}}" readonly/></td>
        </tr>
        <tr>
          <td>Monto</td>
          <td><input name="montoUFEditar" type="text" id="montoUFEditar"/>
            UF</td>
          <td>Estado</td>
          <td><input name="estadoEditar" type="text" id="estadoEditar"/></td>  
        </tr>
        <tr>
          <td>Divisa</td>
          <td><input name="divisaEditar" type="text" id="divisaEditar"/></td>  
          <td>Glosa</td>
          <td><input name="glosaEditar" type="text" id="glosaEditar" /></td> 
        </tr>
        <tr>
          <td>Servicio</td>
          <td><input name="nombreServicioEditar" type="text" id="nombreServicioEditar" /></td>  
          <td>Tipo de Servicio</td>
          <td><input name="tipoServicioEditar" type="text" id="tipoServicioEditar"/></td> 
        </tr>
        <tr>
          <td>Sub tipo de Servicio</td>
          <td><input name="subTipoServicioEditar" type="text" id="subTipoServicioEditar"/></td> 
          <td>Instancia de Facturacion</td>
          <td><input name="instFacturacionEditar" type="text" id="instFacturacionEditar" /></td> 
        </tr> 
        <tr>
          <td>Responsable Delivery</td>
          <td><input name="responsableDeliveryEditar" type="text" id="responsableDeliveryEditar" /></td>  
          <td>Correo Resp Delivery</td>
          <td><input name="correoRespDeliveryEditar" type="text" id="correoRespDeliveryEditar"/></td> 
        </tr> 
        <tr>
          <td>Margen Negocio UF</td>
          <td><input name="margenNegocioUFEditar" type="text" id="margenNegocioUFEditar" /></td>  
          <td>Porcentaje Margen Negocio</td>
          <td><input name="margenNegocioPercentEditar" type="text" id="margenNegocioPercentEditar"/></td> 
        </tr>   
      </table>
    <div class="botonera" id="botoneraNV" name="botoneraNV">
      <input type="button" value="Atras" onClick="cerrarDialogo('dialogoEditarNotaVenta');" class="button btnCancelar" style="float: right;">        
      <input type="submit" value = "Guardar" class="button btnOk" onClick="jQuery('#dialogoOk').dialog('open')" style="float: right;">
    </div>
  </form>      
</div>

<div id="dialogoAgregarNotaVenta" title="Agregar Nota Venta">
  <form name="NotaVentaForm" action="/ingresar_NV" method="post">
    {% csrf_token %}    
    <table class="tablaFiltros">
          <tr>
            <td>N° Nota Venta</td>
            <td><input name="numeroNotaVenta" type="text" id="numeroNotaVenta"></td>
            <td>Fecha</td>
            <td><input disabled name="fechaNotaVenta" type="text" class="fecha" id="fechaNotaVenta" size="10" readonly /></td>
          </tr>
          <tr>
            <td>Monto</td>
            <td><input name="montoUF" type="text" id="montoUF">
              UF</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td> Cliente</td>
            <td><select name="cliente_id" id="cliente_id">
              {% for cliente in clientes %}
                <option value = {{forloop.counter}} > {{ cliente.rut }} </option>
              {% endfor %}              
            </select></td>
            <td>Negocio</td>
            <td><select name="negocio_id" id="negocio_id">
            </select></td>
          </tr>
          <tfoot>
          </tfoot>
      </table>
  </form>
</div>

<div id="dialogoOkNotaVenta" title="Datos Guardados">
  <table class="tablaDialogo">
  <tr>
    <td><img src= "{% static "apps/img/icoOk.png" %}" width="48" height="48" /></td>
    <td>Los datos han sido guardados exitosamente.</td>
    </tr>
</table>
</div>



<script type="text/javascript">

  setTimeout(function() {document.getElementById('mensajes').style.display='none';},8000);
  
  function cerrarDialogo(dialogo){
      $('#'+dialogo).dialog('close');
  }
   function agregar_NV(id) {
       // var divAgregarNV = document.getElementById('agregarNV');
       var divBusqueda = document.getElementById('busqueda');
       var divBuscar = document.getElementById('buscar');
       var divMostrarNV = document.getElementById('mostrarNV');
       //var divtablaDatosBusqueda = document.getElementById('tablaDatosBusqueda');
       if(id == 'agregarNV'){
          // divAgregarNV.style.display = 'block';
          divBusqueda.style.display = 'none';
          divBuscar.style.display = 'none';
          divMostrarNV.style.display = 'none';
          //divtablaDatosBusqueda.style.display = 'none';
       }else{
          divAgregarNV.style.display = 'none';

       }
   }
</script>

<script type="text/javascript">
$(document).ready(function(){
  $("#editarNV").validate({
    rules: {
      fechaNotaVentaEditar:{
        required: true
      },
      montoUFEditar:{
        required: true,
        digits: true               
      },
      estadoEditar:{
        required: true                     
      },
      divisaEditar:{
        required: true
      },
      glosaEditar:{
        required: true,                    
      },
      nombreServicioEditar:{
        required: true
      },
      tipoServicioEditar:{
        required: true
      },
      subTipoServicioEditar:{
        required:true
      },
      responsableDeliveryEditar:{
        required: true        
      },
      correoRespDeliveryEditar:{
        required: true,
        email: true
      },
      margenNegocioUFEditar:{
        required: true,
        digits: true        
      },
      margenNegocioPercentEditar:{
        required: true,
        digits: true       
      },
      instFacturacionEditar:{
        required: true        
      }
    }
  });
});
</script>



</body>
</html>
