{% load staticfiles %}

<!DOCTYPE HTML>
<html lang="es">
<head>
<meta charset="utf-8">
<title>Pragma | BackLog</title>
<link rel="stylesheet" href= "{% static "apps/css/normalize.min.css" %}" />
<link rel="stylesheet" href= "{% static "apps/css/masterLayout.css" %}" />
<link rel="stylesheet" href= "{% static "apps/css/contentPages.css" %}" />
<link rel="stylesheet" href= "{% static "apps/css/custom-theme/jquery-ui-1.8.11.custom.css" %}" />
<link rel="stylesheet" href= "{% static "apps/css/widgets.css"%}" />
<link rel="stylesheet" href= "{% static "apps/css/menuHorizontal.css"%}" />
<link rel="stylesheet" href= "{% static "apps/css/custom.css" %}"/>

<script type="text/javascript" src= "{% static "apps/js/jquery-1.5.1.min.js" %}"></script>
<script type="text/javascript" src= "{% static "apps/js/jquery-ui-1.8.11.custom.min.js" %}"></script>
<script type="text/javascript" src= "{% static "apps/js/funciones.js" %}"></script>
<!--[if lt IE 9]>
<script type="text/javascript">
   document.createElement("nav");
   document.createElement("header");
   document.createElement("footer");
   document.createElement("section");
   document.createElement("article");
   document.createElement("aside");
   document.createElement("hgroup");
</script>
<![endif]-->

<script type="text/javascript">

  $(document).ready(function(){
    $(".aceptar").click(function(){
      var $hitoID = $(this).data('id');
      document.getElementById("logHito_id").value= $hitoID;
      $('#id_hito').html($hitoID);
      $('#dialogoEliminar').dialog('open');
    });

  });
</script>
<script type="text/javascript">

  $(document).ready(function(){
    $(".eliminar").click(function(){
      var $hitoID = $(this).data('id');
      document.getElementById("logHito_eliminar").value= $hitoID;
      $('#id_hito_eliminar').html($hitoID);
      $('#dialogoEliminarNeg').dialog('open');
    });

  });
</script>




</head>
<body>
	
<div class="wrapper">
  <header class="header">
    <div class="headerLeft"><img src="{% static "apps/img/logo.png" %}" height="50" /></div>
    <div class="headerRight"> 
      <table>
        <tr>
          <td>  Bienvenido(a): {{ user.get_full_name }}  </td>
        </tr>
        <tr>
          <td> <a style="color:white;" href="{% url 'apps.views.logout_then_login' %}"> Cerrar Sesi&oacute;n</a></td>
        </tr>
      </table>
    </div>
  </header>
  <nav class="nav">
    <div class="menuHorizontal">
      <ul class="dropdown">
        <li><a href="{% url 'apps.views.index' %}" >Home</a></li>
        <li><a href="{% url 'apps.views.clientepragma' %}" >Cliente</a></li>
        <li><a href="{% url 'apps.views.notaVenta' %}" >Nota de Venta</a></li>
        <li><a href="{% url 'apps.views.hitos' %}">Hitos</a></li>
        <li><a href="{% url 'apps.views.balance' %}">Balance</a></li>
        {% for group in user.groups.all %}
            {% if group.name == 'gerencia' and lista %}
               <li><a href="{% url 'apps.views.notificaciones' %}" class="active">Notificaciones ( {{ lista|length }} ) </a></li>
               <li><a href="{% url 'apps.views.logHitos' %}">Log</a></li>               
            {% endif %}
        {% endfor %}         
      </ul>
      </div>
  </nav>
<!--   <section class="navigator">
      <div class="seeder">Usted esta en: Notificaciones </div>
      <div class="info">Ayuda</div>
  </section> -->    
	<section class="content">
      <div class="module">

      <div id = "mensajes" >
         {% if exito %}
            <h1 style="color:green; width:100%"> {{ exito }} </h1>
         {% else %} 
            <h1 style="color:red; width:100%"> {{ error }} </h1> 
        {% endif %}
      </div>
      	{% if lista %}
      <h1>Gestión de Hitos </h1>
      <table class="tablaDatos">
          <thead>
          <tr>
              <th>Fecha de la Solicitud </th>
              <th>Cliente</th>
              <th>Negocio</th>
              <th>NotaVenta</th>
              <th>Hito</th>
              <th>Tipo de Solicitud </th>
              <th>Fecha Antigua </th>
              <th>Fecha Solicitada </th>
              <th>Monto UF Antiguo </th>
              <th>Monto UF Solicitado </th>
              <th class="icoAcciones">&nbsp;</th>          
            </tr>
        </thead>
      {% for h in lista %}     
              <tr>
                <td class="txtCenter">{{ h.0|date:"d/m/Y" }}</td>
                <td class="txtCenter">{{ h.1 }}</td>
                <td class="txtCenter">{{ h.2 }}</td>
                <td class="txtCenter">{{ h.3 }}</td>
                <td class="txtCenter">{{ h.4 }}</td>
                <td class="txtCenter">{{ h.5 }}</td>
                <td class="txtCenter">{{ h.6|date:"d/m/Y" }}</td>
                {% if h.7 == None %}
                  <td class="txtCenter">{{ h.6|date:"d/m/Y" }}</td>
                {% elif flag %}
                  <td class="txtCenter">{{ h.6|date:"d/m/Y"}}</td>
                {% else %}
                  <td class="txtCenter">{{ h.7|date:"d/m/Y" }}</td>
                {% endif %}  
                <td class="txtCenter">{{ h.8 }}</td>
                {% if h.9 == 0.0 %}
                  <td class="txtCenter">{{ h.8 }}</td>
                {% else %}  
                  <td class="txtCenter">{{ h.9 }}</td>
                {% endif %}
	            <td>  
                <button class="button btnAceptar aceptar" data-id="{{ h.10 }}" >Aceptar</button>
                <button class="button btnRechazar eliminar" data-id="{{ h.10 }}" >Rechazar</button>
	            </td>                
              </tr>
      {% endfor %}     
        </table>      		
	  {% endif %}


    <div id="dialogoEliminar" title="Eliminar Datos">
      <form name = "FormAceptar" action = "/aceptar_solicitud" method="post">
        {% csrf_token %}  
        <table class="tablaDialogo">
          <tr>
            <td><img src= "{% static "apps/img/icoBorrar.png" %}" width="48" height="48" /></td>
            <input type="hidden" id="logHito_id" name="logHito_id"></input>
            <td>Está seguro que desea aceptar la solicitud del hito <span class="txtBold destacado">N°<span class="txtCenter"><span id = "id_hito" ></span></div></span></span></td>
          </tr>
        </table>        
          <div class="botonera" id="botoneraAceptar" name="botoneraAceptar">
            <input type="button" value="Cancelar" onClick="cerrarDialogo('dialogoEliminar');" class="button btnCancelar" style="float: right;">         
            <input type="submit" value = "Aceptar" class="button btnOk" style="float: right;">

          </div>
      </form>     
    </div>


    <div id="dialogoEliminarNeg" title="Eliminar Datos">
      <form name = "FormRechazar" action = "/eliminar_solicitud" method="post">
        {% csrf_token %}  
        <table class="tablaDialogo">
          <tr>
            <td><img src= "{% static "apps/img/icoBorrar.png" %}" width="48" height="48" /></td>
            <input type="hidden" id="logHito_eliminar" name="logHito_eliminar"></input>
            <td>Está seguro que desea eliminar la solicitud del hito <span class="txtBold destacado">N°<span class="txtCenter"><span id = "id_hito_eliminar" ></span></div></span></span></td>
          </tr>
        </table>        
          <div class="botonera" id="botoneraEliminarSolicitud" name="botoneraEliminarSolicitud">
            <input type="button" value="Cancelar" onClick="cerrarDialogo('dialogoEliminarNeg');" class="button btnCancelar" style="float: right;">         
            <input type="submit" value = "Aceptar" class="button btnOk" style="float: right;">

          </div>
      </form>     
</div>



 </div>

  </section>
   <footer class="footer">&copy; Todos los Derechos Reservados Pragma Informática S.A. - 2014</footer>

    <div id="dialogoOkHito" title="Datos Guardados">
      <table class="tablaDialogo">
        <tr>
          <td><img src= "{% static "apps/img/icoOk.png" %}" width="48" height="48" /></td>
          <td>Los datos han sido guardados exitosamente.</td>
        </tr>
      </table>
    </div>
</div>

<script type="text/javascript">
  setTimeout(function() {document.getElementById('mensajes').style.display='none';},8000);

    function cerrarDialogo(dialogo){
      $('#'+dialogo).dialog('close');
  }

</script>

</body>
</html> 