@charset "utf-8";
/* CSS donde se incorporan los atributos del sitio */

/* GENERICOS */

body { margin: 0; padding: 0; font-family: Arial, verdana, sans-serif; font-size: 12px; color: #333; background: url(img-css/fondo.png) repeat-x top #cfcfcf;}
table { width: 100%; border-collapse: collapse;}
a { color: #333; text-decoration: underline;}
a:hover { color: #999; text-decoration: none;}
img { border: 0;}
h1, h2, h3 { margin: 0;}

/* ESTRUCTURA */

#login{
	margin-left: auto;
	margin-right: auto;
	width: 150px;
	margin-top: 70px;
}

.wrapper {
	width: 98%;
	margin: 7px auto;
	background-color: #fff;
	border: 1px solid #ccc;
}
.header {
	width: 100%;
	height: 70px;
	background: url(img-css/fondoHeader.png) no-repeat right top;
	overflow: hidden;
	display: block;
	border-bottom: 2px solid #149371;
}
	.header .headerLeft {
		width: 30%;
		float: left;
		padding: 10px 15px;
	}
	.header .headerRight {
		width: 60%;
		float: right;
		padding: 0px 15px;
		text-align: right;	
		color: #fff;
		margin-top: 30px;
		font-weight: bold;
	}
.nav {
	width: 100%;
}
.menuHorizontal {
	height: 22px;
	border-bottom: 1px solid #ccc;
	background-color: #f0f0f0;
	font-size: 11px;
}
.menuVertical {
	width: 200px;
	min-height: 350px;
	float: left;
	background-color: #f0f0f0;
}
.navigator {
	width: 95%;
	height: 20px;
	margin: 10px auto;
	background-color: #fff;
	display: block;
}
	.navigator .seeder {
		float: left;
		
	}
		.navigator .seeder a {
			color: #135EA8;
			text-decoration: none;
		}
		.navigator .seeder a:hover {
			color: #135EA8;
			text-decoration: underline;
		}		
	.navigator .info {
		float: right;
	}
		.navigator .info img {
			cursor: pointer;
			vertical-align: middle;
		}
.content {
	width: 95%;
	min-height: 350px;
	margin: 10px auto;
	display: block;
}
.footer {
	width: 100%;
	background-color: #f1f1f1;
	text-align: center;
	padding: 10px 0;
	margin: 0 auto;
	display: block;
}
