@charset "utf-8";
/* CSS donde se incorporan los atributos del sitio */

/* GENERICOS */

input,textarea {border: solid 1px #ccc;font-family: Arial, Helvetica, sans-serif;font-size: 12px;color: #666; padding: 3px;}

select {border: solid 1px #ccc;font-family: Arial, Helvetica, sans-serif;font-size: 12px;color: #333; padding: 3px;}

h1 {font-size: 17px;color: #179197; margin-top: 10px; width: 50%; float: left;}
h2 {font-size: 12px;color: #999;}
h3 { color: #179197;}

.totalmes { background: rgba(139, 200, 241, 0.46);}
.txtCenter { text-align: center;}
.txtRight { text-align: right;}
.txtBold { font-weight: bold;}
.txtDestacado { color: #78B1D8; } 

.caja200 { width: 200px;}
.caja300 { width: 300px;}
.caja400 { width: 400px;}
.caja500 { width: 500px;}

.floatLeft { float: left;}
.floatRight { float: right;}

.button {text-align:center;}
	.button img {margin-right: 5px; vertical-align: middle;}

/* ESTRUCTURA */
.moduleLogin { 
	overflow: hidden;
	height: 250px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 63px;
	border: 4px solid #ccc;
}
.module{
	overflow: hidden;
}
.fecha {text-align: center;}

.tablaDatos { border: 5px solid #e0e0e0; float: left;}
  .tablaDatos thead {
	   background: url(img-css/encabTablaDatos.gif) repeat-x top #DEEBF6; color: #00585f;}
	  .tablaDatos thead th{ padding: 5px; text-align: center; font-weight: bold; border: 1px solid #D0D0D0;}
	  .tablaDatos thead th.icoAcciones { width: 65px; text-align:center}
  .tablaDatos td {border: 1px solid #D0D0D0; padding: 5px;}
  .tablaDatos tr.alt td {
    	background: #F0F0F0;
    }
	.tablaDatos tr.over td {
	background-color: #eaeaea;
    }
	.tablaDatos tfoot { background: #78B1D8;}
	.tablaDatos tfoot th { padding: 7px; border-right:1px solid #fff; font-size: 1.3em; font-weight: bold; color: #fff;}

.tablaFiltros { border: 5px solid #e0e0e0; float:left; margin-bottom: 7px;}
  .tablaFiltros td {border: 1px solid #D0D0D0; padding: 5px;}
  
.botonera { width: 100%; height:30px; display: block; padding: 5px 0; float: left;}
   .botonera button { float: right;}

.tablaDialogo {margin: 0 auto;color:#4E4E4E; float:left;}
	.tablaDialogo img { margin: 10px;}
	.tablaDialogo th {text-align: center;font-weight: bolder;border: 1px solid #fff;background-color: #009;color:#FFF;}
	.tablaDialogo span.destacado {  color: #78B1D8; font-size: 1.2em;}
	
.accionesTabla { width: 30%; float: right; text-align: right; font-weight: bold;}
   .accionesTabla a { background: #179197; border-radius: 5px 5px 0 0; padding: 8px 5px 0px 5px; color: #fff; display: inline-block; height: 22px;}