﻿/* CSS de menú horizontal */

/* NIVEL 1 */

ul.dropdown {
	margin: 0;
	padding: 0;
	position: relative;
	list-style: none;
	z-index: 5;
}
	ul.dropdown a {
		color: inherit;
	}
	ul.dropdown a:hover {
		text-decoration: none;
		color: #fff;
	}
	ul.dropdown li {
		width: 150px; /* Ancho fijo, para autoajuste eliminar esta propiedad */
	 	float: left;
		zoom: 1;
		font-weight: bold;
		text-align: center;
	}
		ul.dropdown li a {
			text-decoration: none;
			display: block;
			padding: 5px 8px;
			border-right: 1px solid #ccc;
		}
		ul.dropdown li.hover, ul.dropdown li:hover {
			background-color: #78b1d8;
			position: relative;
			color: #fff;
		}
		ul.dropdown li a.active {
			background-color: #78b1d8;
			position: relative;
			color: #fff;
		}
		ul.dropdown li.hover a {
			text-decoration: none;
		}

/* NIVEL 2 */

ul.dropdown ul {
	width: 200px; /* Ancho fijo */
	margin: 0;
	padding: 0;
	visibility: hidden;
	position: absolute;
	top: 100%;
	left: 0; /* identación */
	list-style: none;
}
	ul.dropdown ul li {
		margin: 0;
		padding: 0;
		background-color: #f0f0f0;
		border-bottom: 1px solid #eaeaea;
		float: none;
		text-align: left; 
		font-weight: normal;
		color: #666;
	}
		ul.dropdown ul li a { 
			text-decoration: none;
			border-right: none;
			display: inline-block; /* Para IE 6 & 7 Needs Inline Block */
		} 

/* NIVEL 3 */

ul.dropdown ul ul {
	margin: 0;
	padding: 0;
	left: 100%;
	top: 0;
	list-style: none;
}

ul.dropdown li:hover > ul {
	margin: 0;
	padding: 0;
	visibility: visible;
	color: #666;
}